/** Uncomment to Active **/
input[type="checkbox"] {
  vertical-align: top; }

label.autofill {
  width: 100%;
  position: relative; }
  label.autofill:after {
    content: "*Autofill";
    font-size: 10px;
    color: #999999;
    position: absolute;
    bottom: 1px;
    right: 0; }

/* Overide properties for buttons */
/* Affects bootstrap button and input styles */
.input-group,
.btn-group {
  width: 100%; }

/* change appearance of default bootstrap button */
/* change appearance of bootstrap dropdown */
html,
body {
  height: 100%; }

.container-fluid {
  min-width: 800px; }

.ojfilter-action .form-group .form-control {
  min-width: 150px; }

.input-group.oj-input-custom label {
  font-size: 12;
  font-weight: normal; }

.bootstrap-select.open .btn-default.dropdown-toggle {
  background-color: #ffffff; }

.bootstrap-select .btn.btn-default {
  box-shadow: none; }
  .bootstrap-select .btn.btn-default:hover, .bootstrap-select .btn.btn-default:focus {
    background-color: #ffffff;
    box-shadow: none; }

.bootstrap-select .dropdown-menu {
  padding: 0;
  margin-top: 0;
  margin-top: -1px; }
  .bootstrap-select .dropdown-menu li a {
    outline: 0;
    padding-top: 5px;
    padding-bottom: 5px; }
    .bootstrap-select .dropdown-menu li a:focus {
      background-color: #f2f2f2; }
    .bootstrap-select .dropdown-menu li a:hover {
      background-color: #333333;
      color: #ffffff; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/roboto-regular-webfont.eot");
  src: url("../fonts/roboto/roboto-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/roboto-regular-webfont.woff2") format("woff2"), url("../fonts/roboto/roboto-regular-webfont.woff") format("woff"), url("../fonts/roboto/roboto-regular-webfont.ttf") format("truetype"), url("../fonts/roboto/roboto-regular-webfont.svg#Roboto") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/roboto-bold-webfont.eot");
  src: url("../fonts/roboto/roboto-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/roboto-bold-webfont.woff2") format("woff2"), url("../fonts/roboto/roboto-bold-webfont.woff") format("woff"), url("../fonts/roboto/roboto-bold-webfont.ttf") format("truetype"), url("../fonts/roboto/roboto-bold-webfont.svg#robotobold") format("svg");
  font-weight: 700;
  font-style: bold; }

* {
  font-family: 'Roboto', sans-serif; }

.btn-oj-group .btn {
  margin-left: 5px;
  margin-right: 5px; }

.btn-oj-group.left {
  text-align: left; }

.btn-oj-group.right {
  text-align: right; }

.btn-oj-group.center {
  text-align: center; }

.oj-button, .oj-btn-back {
  color: #ffffff;
  text-decoration: none;
  text-transform: capitalize;
  background-color: #333333;
  border: none;
  border-radius: 0;
  padding: 8px 20px;
  outline: 0;
  font-size: 12px; }
  .oj-button:hover, .oj-btn-back:hover, .oj-button:focus, .oj-btn-back:focus {
    text-decoration: none;
    background-color: #fd5822;
    color: #ffffff;
    outline: 0; }

.gray-button {
  background-color: #999999;
  color: #333333; }
  .gray-button:hover, .gray-button:focus {
    background-color: #666666;
    color: #ffffff; }

.light-gray-button {
  background-color: #bcbcbc;
  color: #333333; }
  .light-gray-button:hover, .light-gray-button:focus {
    background-color: #aeaeae;
    color: #333333; }

.white-ghost-button {
  background-color: #ffffff;
  color: #333333;
  border: 1px solid #666666; }
  .white-ghost-button:hover, .white-ghost-button:focus {
    background-color: #ffffff;
    color: #333333; }

.oj-btn-back {
  margin-right: 15px;
  padding: 6px 15px; }

.box-btn {
  padding: 8px 12px; }

.change-status-btn-grp .white-ghost-button {
  width: 120px;
  text-align: left;
  padding: 8px 10px; }
  .change-status-btn-grp .white-ghost-button .caret {
    float: right;
    margin-top: 8px; }

.change-status-btn-grp ul {
  border-radius: 0;
  border-color: #666666; }
  .change-status-btn-grp ul li a:hover {
    background-color: #d7d7d7; }

.main-title, .custom-breadcrumb {
  border-bottom: 1px solid #d7d7d7; }

.modal-message, .modal-confirmation, .dataTables_paginate ul li > a, .dataTables_paginate span > a, .ojnote, .ojlink {
  text-decoration: none;
  font-weight: normal; }

.oj-button, .oj-btn-back {
  transition: all .25s; }

.ojinput[type="file"] {
  padding: 10px 0;
  font-size: 12px; }

.form-control, .bootstrap-select .btn.btn-default, .bootstrap-select .dropdown-menu {
  border-radius: 0;
  border-color: #666666; }
  .form-control:focus, .bootstrap-select .btn.btn-default:focus, .bootstrap-select .dropdown-menu:focus {
    border-color: #333333;
    box-shadow: none; }

.bootstrap-select .btn.btn-default.disabled {
  cursor: not-allowed;
  opacity: 1;
  border-color: #666666;
  color: #aaaaaa;
  background: #eeeeee; }
  .bootstrap-select .btn.btn-default.disabled:focus, .bootstrap-select .btn.btn-default.disabled:hover {
    border-color: #666666;
    color: #aaaaaa;
    background: #eeeeee; }

.overflow-right-50 {
  right: 0;
  left: 70%; }

.overflow-right-60 {
  right: 0;
  left: 70%; }

.overflow-right-70 {
  right: 0;
  left: 70%; }

.overflow-right-80 {
  right: 0;
  left: 70%; }

.overflow-right-90 {
  right: 0;
  left: 70%; }

.overflow-right-100 {
  right: 0;
  left: 70%; }

.all-uppercase {
  text-transform: uppercase; }

.disabled-content {
  pointer-events: none;
  cursor: not-allowed;
  background-color: #eeeeee; }
  .disabled-content input {
    cursor: not-allowed; }

.main-wrapper {
  background-color: #f2f2f2;
  min-height: 100%;
  min-width: 800px;
  width: 100%;
  margin-bottom: -30px;
  position: relative; }
  .main-wrapper .container-fluid {
    min-width: 800px; }
  .main-wrapper.with-side-content .sidebar-wrap {
    width: 175px; }
  .main-wrapper.with-side-content .content-wrap {
    width: 100%;
    padding-left: 175px; }
    .main-wrapper.with-side-content .content-wrap .container-fluid {
      min-width: 625px; }

aside.sidebar-wrap {
  background-color: #cccccc;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  top: 185px;
  z-index: 1;
  left: 0; }

.navbar-collapse.collapse {
  display: block !important; }

.navbar-nav > li,
.navbar-nav {
  float: left !important; }

.navbar-nav.navbar-right:last-child {
  margin-right: -15px !important; }

.navbar-right {
  float: right !important; }

.navbar.navbar-default {
  min-width: 800px;
  margin-bottom: 0;
  border: 0;
  border-radius: 0;
  border-bottom: 2px solid #cccccc; }
  .navbar.navbar-default .nav-top {
    background-color: #333333; }
    .navbar.navbar-default .nav-top .navbar-header {
      float: left;
      margin-right: 0; }
      .navbar.navbar-default .nav-top .navbar-header .navbar-brand {
        background-color: #fd5822; }
    .navbar.navbar-default .nav-top h1 {
      font-family: 'Roboto', sans-serif;
      font-weight: normal;
      font-size: 18px;
      color: #ffffff;
      float: left;
      margin-left: 15px;
      margin-right: 15px; }
    .navbar.navbar-default .nav-top ul.navbar-right li {
      text-align: center; }
      .navbar.navbar-default .nav-top ul.navbar-right li .username-log {
        padding-top: 15px;
        padding-bottom: 15px;
        display: block;
        color: #ffffff;
        margin-right: 10px; }
      .navbar.navbar-default .nav-top ul.navbar-right li .thumbnail-circle {
        width: 30px;
        height: 30px;
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 50%;
        background-image: url("../assets/images/sm-img-thumb.jpg");
        background-position: center; }
      .navbar.navbar-default .nav-top ul.navbar-right li.dropdown a.dropdown-toggle {
        color: #ffffff;
        margin-left: 10px;
        padding: 15px 13px; }
        .navbar.navbar-default .nav-top ul.navbar-right li.dropdown a.dropdown-toggle:hover {
          color: #ffffff;
          background-color: #232323; }
      .navbar.navbar-default .nav-top ul.navbar-right li.dropdown.open .dropdown-toggle {
        background-color: #fd5822;
        color: #333333; }
      .navbar.navbar-default .nav-top ul.navbar-right li.dropdown.open .dropdown-menu {
        background-color: #fd5822;
        position: absolute;
        right: 0;
        left: auto;
        width: 210px;
        padding-bottom: 30px;
        border-radius: 0;
        border: 0; }
        .navbar.navbar-default .nav-top ul.navbar-right li.dropdown.open .dropdown-menu img {
          margin-top: 20px;
          margin-bottom: 20px; }
        .navbar.navbar-default .nav-top ul.navbar-right li.dropdown.open .dropdown-menu li {
          color: #333333; }
          .navbar.navbar-default .nav-top ul.navbar-right li.dropdown.open .dropdown-menu li a {
            font-size: 12px;
            text-transform: uppercase;
            padding: 5px 20px; }
            .navbar.navbar-default .nav-top ul.navbar-right li.dropdown.open .dropdown-menu li a:hover, .navbar.navbar-default .nav-top ul.navbar-right li.dropdown.open .dropdown-menu li a:focus {
              font-weight: 700;
              color: #ffffff;
              background-color: #333333; }
            .navbar.navbar-default .nav-top ul.navbar-right li.dropdown.open .dropdown-menu li a i.fa {
              margin-right: 5px; }
    .navbar.navbar-default .nav-top .navbar-nav {
      margin: 0; }
  .navbar.navbar-default .nav-bottom {
    background-color: #ffffff;
    height: 60px; }
    .navbar.navbar-default .nav-bottom .nav li {
      margin-right: 5px; }
      .navbar.navbar-default .nav-bottom .nav li a {
        position: relative;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-right: 8px;
        padding-left: 8px;
        font-size: 12px;
        color: #333333; }
        .navbar.navbar-default .nav-bottom .nav li a:hover:after {
          content: '';
          position: absolute;
          top: 0px;
          left: 0;
          bottom: 5px;
          right: 0;
          border-bottom: 5px solid #cecece; }
        .navbar.navbar-default .nav-bottom .nav li a i.fa {
          margin-right: 3px;
          display: none; }
          @media (min-width: 800px) {
            .navbar.navbar-default .nav-bottom .nav li a i.fa {
              display: inline-block; } }
        @media (min-width: 800px) {
          .navbar.navbar-default .nav-bottom .nav li a {
            width: 100%;
            padding-right: 8px;
            padding-left: 8px; } }
      .navbar.navbar-default .nav-bottom .nav li.active a {
        background-color: #ffffff; }
        .navbar.navbar-default .nav-bottom .nav li.active a:after {
          content: '';
          position: absolute;
          top: 0px;
          left: 0;
          bottom: 5px;
          right: 0;
          border-bottom: 5px solid #fd5822; }
    .navbar.navbar-default .nav-bottom .navbar-nav {
      margin: 0; }

.create-quick-link {
  margin: 13px 0px; }
  .create-quick-link .dropdown-menu {
    width: 410px;
    margin-top: 0;
    border: 0;
    padding: 5px 5px;
    border-radius: 0;
    background-color: #333333; }
    .create-quick-link .dropdown-menu li {
      font-size: 13px;
      float: left;
      display: table;
      text-align: center; }
      .create-quick-link .dropdown-menu li a {
        color: #ffffff;
        width: 100px;
        height: 50px;
        white-space: normal;
        display: table-cell;
        vertical-align: middle;
        padding: 0; }
        .create-quick-link .dropdown-menu li a:hover, .create-quick-link .dropdown-menu li a:focus {
          background-color: #fd5822;
          font-weight: 700; }

footer {
  min-width: 800px;
  height: 30px;
  background-color: #333333;
  position: relative;
  z-index: 20; }
  footer .container-fluid p {
    text-align: center;
    color: #ffffff;
    font-size: 11px;
    margin: 7px 0; }

.login-page {
  background-color: #cccccc;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-align: center;
  position: relative; }

.login-form {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 350px;
  min-height: 400px;
  margin-top: -250px;
  margin-left: -200px; }
  .login-form .login-title {
    background-color: #fd5822;
    height: 65px;
    line-height: 65px;
    width: 100%;
    color: #232323;
    margin: 0; }
    .login-form .login-title img, .login-form .login-title h1 {
      display: inline-block;
      vertical-align: middle;
      margin: 0 10px 0 0; }
    .login-form .login-title h1 {
      font-size: 20px; }
    .login-form .login-title img {
      width: 24px;
      height: 24px; }
  .login-form .login-input-container {
    background-color: #333333;
    box-shadow: 0px 0px 40px -10px #232323;
    min-height: 320px;
    /* for change password */ }
    .login-form .login-input-container form {
      padding: 20px 0; }
    .login-form .login-input-container .input-container {
      margin: 20px auto;
      width: 270px;
      position: relative; }
      .login-form .login-input-container .input-container label {
        font-size: 12px;
        margin-right: 5px;
        color: #f2f2f2;
        font-weight: normal;
        text-align: left;
        vertical-align: middle;
        width: 70px; }
      .login-form .login-input-container .input-container .login-input {
        padding: 8px;
        border: none;
        font-size: 12px;
        background-color: #DCE3ED;
        width: 180px;
        border: 1px solid #DCE3ED; }
        .login-form .login-input-container .input-container .login-input.error {
          border: 1px solid #ff4000; }
      .login-form .login-input-container .input-container .system-message {
        width: 200px;
        margin: auto;
        color: #ffffff;
        font-size: 12px;
        font-weight: normal;
        line-height: 24px; }
      .login-form .login-input-container .input-container .error-message {
        position: absolute;
        top: -15px;
        right: 6px;
        font-size: 9px;
        color: #DCE3ED; }
      .login-form .login-input-container .input-container .login-forgot {
        color: #f2f2f2;
        text-align: left;
        display: inline-block; }
      .login-form .login-input-container .input-container .login-forgot, .login-form .login-input-container .input-container .login-button {
        width: 125px;
        font-size: 11px;
        font-weight: normal; }
      .login-form .login-input-container .input-container .login-button {
        border: none;
        padding: 8px;
        display: inline-block;
        text-transform: uppercase;
        transition: all .25s; }
    .login-form .login-input-container ul.message-list {
      color: #ffffff;
      margin: 0 25px;
      padding-bottom: 20px; }
      .login-form .login-input-container ul.message-list li {
        font-size: 10px;
        text-align: left; }
  .login-form .login-footer {
    font-size: 12px;
    color: #333333;
    margin: 10px 0;
    display: block; }

.main-title {
  background-color: #f2f2f2; }
  .main-title h1 {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px; }

/* Page header styles */
.ojpage-header {
  margin: 0 0 20px 0; }
  .ojpage-header .pheader {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 20px;
    text-align: left;
    color: #333333; }

.modal-message {
  font-size: 14px;
  margin-bottom: 20px; }

.modal-confirmation {
  font-size: 18px;
  margin-bottom: 24px; }

/* change appearance of bootstrap modal */
.modal {
  top: 10%;
  outline: none;
  /* override when dataTable is present inside the modal */ }
  .modal .modal-dialog {
    width: 400px; }
    .modal .modal-dialog .modal-content {
      border-radius: 0;
      border: none;
      background-color: #ffffff;
      box-shadow: 0 2px 5px -2px #333333;
      padding: 30px;
      text-align: center;
      border-top: 8px solid #232323; }
      .modal .modal-dialog .modal-content .modal-header {
        text-align: center;
        border-bottom: 0; }
        .modal .modal-dialog .modal-content .modal-header button.close {
          position: absolute;
          top: 2px;
          right: 4px;
          z-index: 3;
          font-size: 30px; }
          .modal .modal-dialog .modal-content .modal-header button.close:focus {
            box-shadow: none;
            outline: 0; }
      .modal .modal-dialog .modal-content .row {
        margin-bottom: 20px; }
        .modal .modal-dialog .modal-content .row [class^="col-"],
        .modal .modal-dialog .modal-content .row [class^="col-"] label {
          font-size: 12px;
          text-align: left;
          font-weight: normal; }
      .modal .modal-dialog .modal-content .modal-footer {
        border-top: 0px; }
        .modal .modal-dialog .modal-content .modal-footer.btn-oj-group .btn {
          min-width: 100px; }
  .modal.with-dataTables .modal-dialog {
    width: 900px; }
    .modal.with-dataTables .modal-dialog .modal-content .modal-header {
      padding: 20px; }
    .modal.with-dataTables .modal-dialog .modal-content .dataTables_paginate,
    .modal.with-dataTables .modal-dialog .modal-content .modal-body .dataTables_paginate {
      margin: 0 15px; }

.custom-breadcrumb {
  min-width: 800px;
  padding: 5px 15px;
  background-color: #e4e4e4;
  border-radius: 0;
  margin-bottom: 0; }
  .custom-breadcrumb li {
    font-size: 12px; }
    .custom-breadcrumb li a {
      color: #333333; }
  .custom-breadcrumb > .active {
    font-weight: 700;
    color: #333333; }

.nopadding, .login-form .login-input-container ul.message-list li, .modal.with-dataTables .modal-dialog .modal-content,
.modal.with-dataTables .modal-dialog .modal-content .modal-body, .oj-box ul {
  padding: 0;
  margin: 0; }

.table-header-custom {
  height: 64px;
  padding: 15px 0; }
  .table-header-custom .search-table {
    min-width: 250px; }
  .table-header-custom:before, .table-header-custom:after {
    display: none; }

.dataTables_wrapper .row:first-child {
  display: none; }

.dataTables_wrapper .row:nth-child(2) {
  overflow: hidden;
  min-height: 300px; }
  .dataTables_wrapper .row:nth-child(2):after, .dataTables_wrapper .row:nth-child(2):before {
    display: none; }

.dataTables_wrapper .row:last-child {
  margin: 0 20px;
  padding: 0;
  border-top: 1px solid #999999; }
  .dataTables_wrapper .row:last-child [class^="col-"] {
    padding: 0; }

table.dataTable {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%; }

.global-table {
  background-color: #ffffff; }
  .global-table thead {
    border-bottom: 1px solid #d7d7d7;
    background-color: #e4e4e4; }
    .global-table thead tr th {
      border: 0; }
  .global-table tbody tr:hover {
    background-color: #f2f2f2; }
  .global-table tbody tr td {
    border: 0; }
  .global-table tbody, .global-table thead {
    font-size: 12px;
    font-weight: normal; }
  .global-table th {
    padding: 10px 8px !important; }
    .global-table th:after {
      bottom: 10px !important; }
  .global-table th, .global-table td {
    text-align: center;
    vertical-align: middle !important; }
    .global-table th > a, .global-table td > a {
      display: inline-block;
      padding: 0 4px;
      border-bottom: 3px solid transparent;
      text-decoration: none;
      color: #232323; }
      .global-table th > a:hover, .global-table td > a:hover {
        border-bottom: 3px solid #232323; }

.dataTables_info, .dataTables_paginate {
  padding: 10px 0 15px 0; }

.dataTables_info, .dataTables_length, .dataTables_filter {
  display: none; }

.dataTables_paginate .previous, .dataTables_paginate .next {
  display: none; }

.dataTables_paginate ul li > a, .dataTables_paginate span > a {
  margin-left: 4px;
  background-color: #f2f2f2;
  font-size: 11px;
  color: #333333;
  border: none;
  cursor: pointer !important;
  padding: 6px 12px;
  display: inline-block; }

.dataTables_paginate ul li.active a, .dataTables_paginate ul li a.current, .dataTables_paginate ul li a.paginate_button:hover, .dataTables_paginate ul li a:hover, .dataTables_paginate ul li a:active, .dataTables_paginate span.active a, .dataTables_paginate span a.current, .dataTables_paginate span a.paginate_button:hover, .dataTables_paginate span a:hover, .dataTables_paginate span a:active {
  color: #ffffff !important;
  background-color: #666666 !important; }

.page-container {
  padding: 20px; }

.pdetails-container {
  width: 100%;
  min-height: 300px;
  margin: 20px 0 30px 0;
  padding: 0;
  border-top: 8px solid #232323;
  box-shadow: 0px 2px 3px 1px #d7d7d7;
  background-color: #ffffff; }

.ojnote {
  font-size: 11px;
  line-height: 36px; }

.oj-seats {
  display: inline-block;
  padding: 3px 6px 3px 24px;
  font-size: 11px;
  line-height: 16px;
  text-align: right;
  position: relative; }
  div[class^="col-"] .oj-seats {
    text-align: right; }
  .oj-seats:before {
    content: "";
    width: 15px;
    height: 15px;
    left: 0;
    top: 4px;
    position: absolute;
    background-color: #cccccc; }
  .oj-seats.unavailable:before {
    background-color: #666666; }

.note {
  width: 100%;
  font-size: 12px; }
  .note.right {
    text-align: right; }
  .note.left {
    text-align: left; }

/* box section with gray background */
.oj-box {
  background-color: #f2f2f2;
  padding: 15px; }
  .oj-box ul {
    list-style: none; }
    .oj-box ul li {
      font-size: 12px; }

/* box section with gray outline */
.oj-box2 {
  border: 1px solid #cccccc; }
  .oj-box2 .oj-box2-header {
    padding: 4px 10px;
    background-color: #cccccc;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 15px; }
  .oj-box2 .oj-box2-content {
    padding: 15px;
    /* for Voyage and E-Voucher */
    /* TICKETING STYLES */ }
    .oj-box2 .oj-box2-content > .row:not(:last-child) {
      margin-bottom: 15px; }
    .oj-box2 .oj-box2-content.disabled {
      background-color: #e4e4e4; }
    .oj-box2 .oj-box2-content .oj-vessel {
      width: 100%; }
      .oj-box2 .oj-box2-content .oj-vessel tr td {
        border: 6px solid #ffffff;
        padding: 6px 2px;
        font-size: 10px;
        background-color: #999999;
        text-align: center; }
        .oj-box2 .oj-box2-content .oj-vessel tr td.unavailable {
          background-color: #333333; }
    .oj-box2 .oj-box2-content .oj-vessel-none {
      color: #666666;
      font-size: 16px;
      text-align: center; }
    .oj-box2 .oj-box2-content .cms_box_in_header,
    .oj-box2 .oj-box2-content .cms_box_in_content {
      color: #333333;
      padding-bottom: 15px; }
      .oj-box2 .oj-box2-content .cms_box_in_header.cms_box_in_header,
      .oj-box2 .oj-box2-content .cms_box_in_content.cms_box_in_header {
        border-bottom: 1px solid #999999; }
      .oj-box2 .oj-box2-content .cms_box_in_header.cms_box_in_header,
      .oj-box2 .oj-box2-content .cms_box_in_header.cms_box_in_content .row,
      .oj-box2 .oj-box2-content .cms_box_in_content.cms_box_in_header,
      .oj-box2 .oj-box2-content .cms_box_in_content.cms_box_in_content .row {
        margin-bottom: 15px; }
      .oj-box2 .oj-box2-content .cms_box_in_header [class*="col-"],
      .oj-box2 .oj-box2-content .cms_box_in_content [class*="col-"] {
        text-align: center;
        font-size: 12px; }
    .oj-box2 .oj-box2-content .cms_box_in_button_group {
      margin: auto;
      width: 200px; }
    .oj-box2 .oj-box2-content .oj-box2-info {
      border: 15px solid #e4e4e4;
      padding: 15px;
      min-height: 100px;
      background-color: #f2f2f2; }
      .oj-box2 .oj-box2-content .oj-box2-info.with-header {
        padding: 0; }
        .oj-box2 .oj-box2-content .oj-box2-info.with-header .oj-box2-info-header {
          font-weight: bold;
          font-size: 12px;
          padding: 10px 20px;
          background-color: #aeaeae; }
        .oj-box2 .oj-box2-content .oj-box2-info.with-header .oj-box2-info-content {
          padding: 15px; }
      .oj-box2 .oj-box2-content .oj-box2-info span.noinfo {
        font-size: 24px;
        text-align: center;
        display: block;
        line-height: 150px;
        color: #999999; }
      .oj-box2 .oj-box2-content .oj-box2-info .row:not(:last-child) {
        margin-bottom: 15px; }
    .oj-box2 .oj-box2-content .table-statistics {
      width: 100%; }
      .oj-box2 .oj-box2-content .table-statistics tr td {
        border: 1px solid #999999;
        padding: 10px;
        text-align: center; }
        .oj-box2 .oj-box2-content .table-statistics tr td:first-child {
          width: 40%; }
    .oj-box2 .oj-box2-content .input-group.radio-group {
      border: 1px solid #999999;
      height: 20px;
      padding: 3px 12px; }
      .oj-box2 .oj-box2-content .input-group.radio-group > input[type="radio"] {
        vertical-align: middle;
        margin: 0 5px 0 0; }
      .oj-box2 .oj-box2-content .input-group.radio-group > label {
        margin-right: 20px; }

div.info {
  display: none; }

/* INITIAL STATE OF INFO */
div.noinfo {
  diplay: block; }

.ojlink {
  color: #333333; }
  .ojlink.disabled {
    color: #999999; }

.pdetails-footer {
  text-align: right;
  margin: 20px;
  padding: 10px 0 0 0;
  border-top: 1px solid #999999; }
  .pdetails-footer .btn {
    margin-left: 10px;
    min-width: 100px; }

.sub-navigation ul {
  list-style: none;
  margin: 0;
  margin-top: 35px;
  padding: 0; }
  .sub-navigation ul li a {
    font-size: 12px;
    text-decoration: none;
    color: #333333;
    display: block;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-left-width: 5px;
    border-left-style: solid;
    border-left-color: transparent; }
    .sub-navigation ul li a:hover {
      background-color: #bcbcbc;
      border-left-color: #bcbcbc; }
  .sub-navigation ul li.active a {
    font-weight: 700;
    background-color: #999999;
    border-left-color: #fd5822; }

.oj-form {
  padding: 30px 15px; }
  .oj-form .form-group {
    margin-bottom: 20px; }
    .oj-form .form-group .control-label {
      margin-bottom: 5px;
      font-size: 12px;
      font-weight: normal; }
    .oj-form .form-group .input-notes-top {
      clear: both;
      display: inline-block;
      white-space: nowrap;
      font-size: 10px;
      margin-left: 10px;
      position: absolute;
      top: 9px;
      right: 15px;
      color: #999999; }
    .oj-form .form-group .input-notes-bottom {
      clear: both;
      display: inline-block;
      white-space: nowrap;
      font-size: 10px;
      margin-left: 10px;
      position: absolute;
      bottom: -16px;
      right: 15px;
      color: #999999; }
  .oj-form .oj-form-footer {
    margin-top: 50px;
    margin-bottom: 0px; }
    .oj-form .oj-form-footer .btn-oj-group {
      padding-top: 20px;
      border-top: 1px solid #999999; }
  .oj-form .checkbox-wrapper {
    width: 100%;
    display: inline-block;
    padding-top: 10px;
    border: 1px solid #666666; }
    .oj-form .checkbox-wrapper .checkbox-inline {
      width: 50%;
      text-align: left;
      padding: 0;
      padding-left: 40px;
      margin: 0;
      margin-bottom: 10px;
      float: left; }
