/** Uncomment to Active **/
html, body {
  height: 100%; }

/* apply transition effects on all elements */
/* except the affix box element */
*:not(.affix-box) {
  transition: all .25s; }

header {
  padding: 20px;
  min-height: 90px;
  /* 
	[class*="col-"]{
		border:1px solid #0de;
	} 

	.nav{
		li{
			span{
				padding:10px 15px;
				display:block;
			}
		}
	}*/ }
  header .navbar {
    height: 100%;
    margin-bottom: 0;
    /* hamburger icon */ }
    header .navbar .navbar-toggle {
      border-radius: 0; }
      header .navbar .navbar-toggle[aria-expanded="true"] {
        background-color: #c6c6c6; }
      header .navbar .navbar-toggle .icon-bar {
        background-color: #333333; }
    header .navbar .navbar-brand img {
      width: 100%; }
    header .navbar .navbar-nav li {
      margin-left: 5px;
      margin-top: 5px; }
      header .navbar .navbar-nav li a {
        color: #333333;
        text-align: right; }
      header .navbar .navbar-nav li.active a, header .navbar .navbar-nav li a:hover, header .navbar .navbar-nav li a:active {
        background-color: #F04B4C;
        color: #fefefe; }

.bms-page-header {
  background-color: #eeeeee;
  min-height: 74px; }
  .bms-page-header h3.container {
    line-height: 36px; }
  .bms-page-header .container .bms-page-header-steps {
    display: inline-block;
    font-size: 12px;
    color: #333333;
    text-decoration: none;
    margin: 15px 0;
    padding: 10px 15px; }
    .bms-page-header .container .bms-page-header-steps .step {
      display: inline-block;
      margin-right: 10px;
      border-radius: 12px;
      width: 24px;
      height: 24px;
      background-color: #38578B;
      line-height: 24px;
      font-size: 12px;
      text-align: center;
      color: #fefefe; }
    .bms-page-header .container .bms-page-header-steps.complete .step {
      background-color: #006633;
      position: relative; }
      .bms-page-header .container .bms-page-header-steps.complete .step:after {
        position: absolute;
        content: "\f00c";
        font-family: FontAwesome;
        top: 0;
        left: 0;
        width: 24px;
        height: 24px;
        border-radius: 12px;
        background-color: #006633; }
    .bms-page-header .container .bms-page-header-steps.active {
      padding: 6px 15px 6px 11px;
      /* font-weight:bold; */ }
      .bms-page-header .container .bms-page-header-steps.active .step {
        background-color: #F04B4C;
        width: 32px;
        height: 32px;
        border-radius: 16px;
        line-height: 32px;
        margin-right: 6px; }

@media (max-width: 767px) {
  .bms-page-header .container .row {
    text-align: center; }
    .bms-page-header .container .row .bms-page-header-steps {
      width: 20%;
      margin: 15px -2px;
      padding: 6px 0; }
      .bms-page-header .container .row .bms-page-header-steps > .text {
        display: none; }
      .bms-page-header .container .row .bms-page-header-steps .step, .bms-page-header .container .row .bms-page-header-steps .step:after {
        width: 32px;
        height: 32px;
        line-height: 32px;
        border-radius: 16px;
        margin: 0; }
      .bms-page-header .container .row .bms-page-header-steps.active {
        padding: 2px 0;
        /* font-weight:bold; */ }
        .bms-page-header .container .row .bms-page-header-steps.active .step {
          width: 40px;
          height: 40px;
          border-radius: 20px;
          line-height: 40px; }
    .bms-page-header .container .row h3.container {
      text-align: left; } }

.bms-main-content {
  padding: 30px 0; }
  .bms-main-content .bms-title {
    font-size: 24px;
    margin: 20px 0; }
  .bms-main-content .bms-detail {
    height: 40px;
    padding: 10px; }
  .bms-main-content .bms-detail-label {
    width: 160px; }
  .bms-main-content .bms-detail-note {
    font-size: 12px;
    line-height: 22px;
    margin-bottom: 30px;
    text-align: left;
    font-weight: normal; }

footer {
  background-color: #666666;
  padding: 40px 0;
  min-height: 183px; }
  footer p {
    margin: 10px auto 20px auto;
    text-align: center;
    font-size: 12px; }
    footer p, footer p a, footer p .fa {
      text-decoration: none;
      color: #fefefe; }
    footer p .fa {
      font-size: 36px;
      margin: 0 5px; }

/* OVERRIDE BOOTSTRAP MODAL STYLE */
.modal.small .modal-dialog {
  max-width: 400px; }

.modal.large .modal-dialog {
  max-width: 800px; }

.modal .modal-header {
  background-color: #F04B4C;
  color: #fefefe; }
  .modal .modal-header .modal-title {
    text-align: center; }

.modal .modal-body {
  padding: 40px; }
  .modal .modal-body .row:not(:last-child) {
    margin-bottom: 15px; }
  .modal .modal-body input {
    font-size: 12px; }
  .modal .modal-body .lbl1, .modal .modal-body .an-link {
    padding-top: 12px; }
  .modal .modal-body .lbl2 {
    padding-top: 5px; }

.modal .an-link {
  display: block; }

.modal .fn-link {
  width: 100%;
  margin: 0; }

.modal .bms-main-button {
  line-height: 26px; }

.modal .form-group {
  margin: 0; }

.modal .modal-footer {
  padding: 40px;
  background-color: #c6c6c6;
  text-align: center; }

@media (min-width: 768px) {
  .modal-dialog {
    width: auto; } }

.affix-holder {
  position: relative; }

.affix-box {
  /* for bootstrap affix feature */
  top: 0;
  border: 3px solid #3D6098;
  margin-top: 15px;
  font-weight: bold; }
  .affix-box.affix-bottom {
    position: inherit;
    bottom: 0 !important; }
  .affix-box .affix-title {
    padding: 10px 15px;
    height: 40px;
    color: #fefefe;
    text-transform: uppercase;
    font-size: 12px;
    background-color: #3D6098; }
  .affix-box .affix-body {
    padding: 15px;
    text-align: center; }
  .affix-box .affix-body-text {
    font-size: 12px;
    line-height: 14px;
    display: inline-block; }
  .affix-box .affix-footer-text-title {
    text-align: left;
    font-size: 18px;
    padding: 10px; }
  .affix-box .affix-footer-text-value {
    text-align: right;
    font-size: 24px;
    padding: 10px; }
  .affix-box .affix-btn {
    text-align: left;
    width: 90%;
    font-weight: normal;
    font-size: 12px;
    text-transform: capitalize;
    margin: 10px auto;
    display: block; }
    .affix-box .affix-btn .fa {
      margin-right: 10px;
      font-size: 16px; }
  .affix-box .affix-record {
    margin-bottom: 20px; }

@media (min-width: 240px) {
  .affix {
    position: static; }
  .affix-box {
    width: 100%; } }

@media (max-width: 768px) {
  .affix-bottom {
    top: 0 !important; } }

@media (min-width: 768px) {
  .affix {
    position: fixed; }
  .affix-box {
    width: 220px; } }

@media (min-width: 992px) {
  .affix-box {
    width: 290px; } }

@media (min-width: 1200px) {
  .affix-box {
    width: 360px; } }

.form-nav {
  margin-top: 25px;
  padding: 20px;
  background-color: #eeeeee;
  display: block; }
  .form-nav #fn-links {
    text-align: right;
    display: table; }
  .form-nav .fn-back {
    display: block; }
  .form-nav .fn-step {
    display: table-cell;
    border: 5px solid #eeeeee;
    width: 45%;
    height: 70px;
    vertical-align: middle; }

.fn-link {
  display: inline-block;
  border: 0;
  padding: 15px;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #fefefe;
  background-color: #3D6098; }
  .fn-link:hover, .fn-link:active, .fn-link:focus {
    text-decoration: none;
    color: #fefefe;
    background-color: #38578B; }
  .fn-link.fn-action {
    background-color: #F04B4C; }
    .fn-link.fn-action:hover, .fn-link.fn-action:active, .fn-link.fn-action:focus {
      background-color: #EE3131; }

/* GLOBAL STYLE FOR FORMS */
/* mostly bootstrap overrides */
.btn, .form-control {
  border-radius: 0;
  height: 40px; }

.form-control {
  border: 1px solid #c6c6c6;
  padding: 10px;
  box-shadow: none; }

hr.separator {
  margin: 0;
  padding: 0;
  margin-right: -15px;
  margin-top: 15px;
  border-top: 5px solid #3D6098; }

.sep-container {
  position: relative; }

.sep-btn {
  height: 40px;
  padding: 10px 30px;
  line-height: 20px; }

.sep-remove-btn {
  position: absolute;
  right: -15px;
  top: 0; }

.sep-title {
  min-width: 100px;
  padding: 10px 15px;
  height: 40px;
  background-color: #3D6098;
  color: #fefefe;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 15px; }

.form-group {
  margin: 10px 0 15px 0; }

.bms-main-input-box {
  border: 1px solid #c6c6c6;
  text-align: center;
  height: 40px; }

.bms-file-input[type="file"] {
  display: none; }

.bms-main-check-box {
  padding-top: 8px;
  padding-bottom: 3px; }

.bms-main-button {
  background-color: #333333;
  border-radius: 5px;
  color: #fefefe;
  text-decoration: none;
  display: block;
  height: 40px;
  line-height: 27px;
  font-size: 12px; }
  .bms-main-button:hover, .bms-main-button.active {
    background-color: #151515;
    color: #fefefe; }

label {
  vertical-align: middle; }

.dataTables_wrapper .row:first-child, .dataTables_wrapper .row:last-child {
  display: none; }

.dataTables_wrapper thead > tr > th {
  background-color: #3D6098;
  color: #fefefe; }
  .dataTables_wrapper thead > tr > th:after {
    bottom: 14px !important; }

.dataTables_wrapper thead > tr > th, .dataTables_wrapper tbody > tr > td {
  height: 50px;
  padding: 0 15px;
  border: none;
  font-weight: normal;
  vertical-align: middle;
  text-align: center; }

.dataTables_wrapper tbody > tr {
  color: #333333;
  background-color: #fefefe; }
  .dataTables_wrapper tbody > tr:nth-child(even) {
    background-color: #eeeeee; }
  .dataTables_wrapper tbody > tr > td a {
    font-size: 12px;
    color: #333333;
    text-decoration: underline; }

@media (max-width: 640px) {
  thead > tr > th:nth-child(n+2):nth-child(-n+5), tbody > tr > td:nth-child(n+2):nth-child(-n+5) {
    display: none; } }

@media (max-width: 768px) {
  thead > tr > th:nth-child(n+2):nth-child(odd):nth-child(-n+5), tbody > tr > td:nth-child(n+2):nth-child(odd):nth-child(-n+5) {
    display: none; } }
