.custom-breadcrumb {
  min-width: $screen-tablet;
  padding: 5px 15px;
  background-color: $breadcrumbs-bg;
  border-radius: 0;
  margin-bottom: 0;
  @extend %border-gray;
  li {
    font-size: 12px;
    a {
      color: $dark;
    }
  }
  >.active {
    font-weight: 700;
    color: $dark;
  }
}