.oj-form {
  padding: 30px 15px;
  .form-group {
    margin-bottom: 20px;
    .control-label {
      margin-bottom: 5px;
      font-size: 12px;
      font-weight: normal;
    }
    .input-notes-top {
      clear: both;
      display: inline-block;
      white-space: nowrap;
      font-size: 10px;
      margin-left: 10px;
      position: absolute;
      top: 9px;
      right: 15px;
      color: $gray;
    }
    .input-notes-bottom {
      clear: both;
      display: inline-block;
      white-space: nowrap;
      font-size: 10px;
      margin-left: 10px;
      position: absolute;
      bottom: -16px;
      right: 15px;
      color: $gray;
    }
  }
  .oj-form-footer {
    margin-top: 50px;
    margin-bottom: 0px;
    .btn-oj-group {
      padding-top: 20px;
      border-top: 1px solid $footer-border-bg;
    }
  }
  
  .checkbox-wrapper {
    width: 100%;
    display: inline-block;
    padding-top: 10px;
    border: 1px solid $dark-gray;
    .checkbox-inline {
      width: 50%;
      text-align: left;
      padding: 0;
      padding-left: 40px;
      margin: 0;
      margin-bottom: 10px;
      float: left;
    }
  }
}

