.modal-message {
  @extend %text-reset;
  font-size: 14px;
  margin-bottom: 20px;
}

.modal-confirmation {
  @extend %text-reset;
  font-size: 18px;
  margin-bottom: 24px;
}


/* change appearance of bootstrap modal */

.modal {
  top: 10%;
  outline: none;
  .modal-dialog {
    width: 400px;
    .modal-content {
      .modal-header {
        text-align: center;
        border-bottom: 0;
        button.close {
          position: absolute;
          top: 2px;
          right: 4px;
          z-index: 3;
          font-size: 30px;
          &:focus {
            box-shadow: none;
            outline: 0;
          }
        }
      }
      border-radius:0;
      border:none;
      background-color:$white;
      box-shadow:0 2px 5px -2px $dark;
      padding:30px;
      text-align:center;
      border-top: 8px solid $pc-border-color;
      .row {
        margin-bottom: 20px;
        [class^="col-"] {
          &,
          & label {
            font-size: 12px;
            text-align: left;
            font-weight: normal;
          }
        }
      }
      .modal-footer {
        border-top: 0px;
        &.btn-oj-group {
          .btn {
            min-width: 100px;
          }
        }
      }
    }
  }
  /* override when dataTable is present inside the modal */
  &.with-dataTables .modal-dialog {
    width: 900px;
    .modal-content {
      .modal-header {
        padding: 20px;
      }
      &,
      .modal-body {
        @extend .nopadding;
        .dataTables_paginate {
          margin: 0 15px;
          // border-top:1px solid $gray;
        }
      }
    }
  }
}