.page-container {
  padding: 20px;
}

.pdetails-container {
  width: 100%;
  min-height: 300px;
  margin: 20px 0 30px 0;
  padding: 0;
  border-top: 8px solid $pc-border-color;
  box-shadow: 0px 2px 3px 1px $pc-shadow-color;
  background-color: $white;
}

//.pdetails-content {
//  margin: 0;
//  padding: 30px 20px;
//
//  /* Find all time-inputs -- bootstrap input group */
//  .time-input {
//    .row {
//      [class^="col-"]:first-child {
//        padding-right: 0;
//      }
//    }
//  }
//}

.ojnote {
  @extend %text-reset;
  font-size: 11px;
  line-height: 36px;
}

.oj-seats {
  display: inline-block;
  padding: 3px 6px 3px 24px;
  font-size: 11px;
  line-height: 16px;
  text-align: right;
  position: relative;
  div[class^="col-"] & {
    text-align: right;
  }
  &:before {
    content: "";
    width: 15px;
    height: 15px;
    left: 0;
    top: 4px;
    position: absolute;
    background-color: $border-gray;
  }
  &.unavailable:before {
    background-color: $footer-page-link-active;
  }
}

.note {
  width: 100%;
  font-size: 12px;
  &.right {
    text-align: right;
  }
  &.left {
    text-align: left;
  }
}


/* box section with gray background */

.oj-box {
  background-color: $title-bg;
  padding: 15px;
  ul {
    list-style: none;
    @extend .nopadding;
    li {
      font-size: 12px;
    }
  }
}


/* box section with gray outline */

.oj-box2 {
  border: 1px solid $light-gray;
  .oj-box2-header {
    padding: 4px 10px;
    background-color: $light-gray;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 15px;
  }
  .oj-box2-content {
    padding: 15px;
    & > .row:not(:last-child) {
      margin-bottom: 15px;
    }
    &.disabled {
      background-color: $semi-white2;
    }
    // Table containing the seats of a vessel
    .oj-vessel {
      width: 100%;
      tr {
        td {
          border: 6px solid $white;
          padding: 6px 2px;
          font-size: 10px;
          background-color: $gray;
          text-align: center;
          &.unavailable {
            background-color: $dark;
          }
        }
      }
    }
    .oj-vessel-none {
      color: $dark-gray;
      font-size: 16px;
      text-align: center;
    }
    /* for Voyage and E-Voucher */
    .cms_box_in_header,
    .cms_box_in_content {
      &.cms_box_in_header {
        border-bottom: 1px solid $gray;
      }
      &.cms_box_in_header,
      &.cms_box_in_content .row {
        margin-bottom: 15px;
      }
      color: $dark;
      padding-bottom:15px;
      [class*="col-"] {
        text-align: center;
        font-size: 12px;
      }
    }
    .cms_box_in_button_group {
      margin: auto;
      width: 200px;
    }
    /* TICKETING STYLES */
    .oj-box2-info {
      border: 15px solid $semi-white2;
      padding: 15px;
      min-height: 100px;
      background-color: $semi-white;
      &.with-header {
        padding: 0;
        & .oj-box2-info-header {
          font-weight: bold;
          font-size: 12px;
          padding: 10px 20px;
          background-color: $super-gray;
        }
        & .oj-box2-info-content {
          padding: 15px;
        }
      }
      span.noinfo {
        font-size: 24px;
        text-align: center;
        display: block;
        line-height: 150px;
        color: $gray;
      }
      .row:not(:last-child) {
        margin-bottom: 15px;
      }
    }
    .table-statistics {
      width: 100%;
      tr td {
        border: 1px solid $gray;
        padding: 10px;
        text-align: center;
        &:first-child {
          width: 40%
        }
      }
    }
    .input-group.radio-group {
      border: 1px solid $gray;
      height: 20px;
      padding: 3px 12px;
      & > input[type="radio"] {
        vertical-align: middle;
        margin: 0 5px 0 0;
      }
      & > label {
        margin-right: 20px;
      }
    }
  }
}

div.info {
  display: none;
}


/* INITIAL STATE OF INFO */

div.noinfo {
  diplay: block;
}

.ojinput[type="file"] {
  @extend %ojinput-upload;
}

.ojlink {
  color: $dark;
  @extend %text-reset;
  &.disabled {
    color: $gray;
  }
}

.pdetails-footer {
  text-align: right;
  margin: 20px;
  padding: 10px 0 0 0;
  border-top: 1px solid $footer-border-bg;
//  .ojbtn {
//    display: inline-block;
//    width: 80px;
//    font-size: 12px;
//    text-transform: uppercase;
//    background-color: $deepdark;
//    color: $white;
//    padding: 8px 15px;
//    text-align: center;
//    @extend .dark-button;
//    @extend %text-reset;
//  }
  .btn {
    margin-left: 10px;
    min-width: 100px;
  }
}