.main-title {
  background-color: $title-bg;
  @extend %border-gray;
  h1 {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

/* Page header styles */

.ojpage-header {
  .pheader {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 20px;
    text-align: left;
    color: $dark;
  }
  margin:0 0 20px 0;
}