.affix-holder{
	position:relative;
}

.affix-box{
	/* for bootstrap affix feature */
	top: 0;
	border: 3px solid $flatBlue;
	margin-top:15px;
	font-weight: bold;
	// max-width: 360px;

	&.affix-bottom{
		position: inherit;
		bottom: 0 !important;
	}

	.affix-title{
		padding: 10px 15px;
		height: 40px;
		color: $white;
		text-transform: uppercase;
		font-size: 12px;
		background-color: $flatBlue;
	}

	.affix-body{
		padding:15px;
		text-align:center;
	}

	.affix-body-text{
		font-size:12px;
		line-height:14px;
		display:inline-block;
	}

	.affix-footer-text-title{
		text-align: left;
		font-size: 18px;
		padding: 10px;
	}

	.affix-footer-text-value{
		text-align: right;
		font-size: 24px;
		padding:10px;
	}

	.affix-btn{
		text-align: left;
		width: 90%;
		font-weight: normal;
		font-size: 12px;
		text-transform: capitalize;
		margin: 10px auto;
		display: block;

		.fa{
			margin-right: 10px;
			font-size: 16px;
		}
	}


	.affix-record{
		margin-bottom:20px;
	}
}

@media (min-width: 240px){
	.affix{
		position: static;
	}

	.affix-box{
		width: 100%;
	}
}

@media (max-width: 768px){
	.affix-bottom{
		top: 0 !important;
	}
}

@media (min-width: 768px){
	.affix{
		position: fixed;
	}

	.affix-box{
		width: 220px;
	}
}

@media (min-width: 992px){
	.affix-box{
		width: 290px;
	}
}

@media (min-width: 1200px){
	.affix-box{
		width: 360px;
	}
}

