.dataTables_wrapper{
	.row{
		&:first-child, &:last-child{
			display:none;
		}
	}

	thead > tr > th{
		background-color: $flatBlue;
		color: $white;

		&:after{
			bottom: 14px !important;
		}
	}

	thead > tr > th, tbody > tr > td{
		height: 50px;
    	padding: 0 15px;
    	border: none;
    	font-weight: normal;
    	vertical-align: middle;
    	text-align: center;

    	
	}

	tbody > tr{
		color: $grayDark;
		background-color: $white;
		
		&:nth-child(even){
			background-color: $light;
		}

		& > td {
			a{
				font-size: 12px;
				color: $grayDark;
				text-decoration: underline;
			}
		}
	}
}


@media (max-width: 640px){
	thead > tr > th, tbody > tr > td{
		&:nth-child(n+2):nth-child(-n+5){
    		display:none;
    		// background-color: $flatRed;
    	}
	}
}

@media (max-width: 768px){
	thead > tr > th, tbody > tr > td{
		&:nth-child(n+2):nth-child(odd):nth-child(-n+5){
    		display:none;
    	}
	}
}