.form-nav{
	margin-top:25px;
	padding: 20px;
	background-color : $light;
	display: block;

	//link container
	#fn-links{
		text-align:right;
		display: table;
	}

	.fn-link{
		// padding: 10px 15px;
	}

	.fn-back{
		display: block;
	}

	.fn-step{
		display: table-cell;
		border:5px solid $light;
		width:45%;
	    height: 70px;
	    vertical-align: middle;
	}
}

.fn-link{
	display: inline-block;
	border: 0;
	padding: 15px;
	font-size: 12px;
	text-decoration: none;
	text-transform: uppercase;
	text-align:center;
	color: $white;
	background-color: $flatBlue;

	&:hover, &:active, &:focus{
		text-decoration: none;
		color: $white;
		background-color: $flatBlueDark;
	}

	&.fn-action{
		background-color: $flatRed;

		&:hover, &:active, &:focus{
			background-color: $flatRedDark;
		}
	}
}


/* GLOBAL STYLE FOR FORMS */
/* mostly bootstrap overrides */
.btn, .form-control{
	border-radius:0;
	height: 40px;
}

.form-control{
	border: 1px solid $gray;
	padding: 10px;
	box-shadow: none;
}

hr.separator{
	margin: 0;
	padding: 0;
	margin-right:-15px;
	margin-top: 15px;
	border-top: 5px solid $flatBlue;
}

.sep-container{
	position: relative;
}

.sep-btn{
	height:40px;
	padding:10px 30px;
	line-height: 20px;
}

.sep-remove-btn{
	position: absolute;
	right: -15px;
	top: 0;
}

.sep-title{
	min-width:100px;
	padding: 10px 15px;
	height: 40px;
	background-color: $flatBlue;
	color: $white;
	display:inline-block;
	text-align:center;
	text-transform: uppercase;
	font-size: 12px;
	font-weight:bold;
	margin-bottom: 15px;
}

.form-group{
	margin: 10px 0 15px 0;
}



.bms-main-input-box{
	border: 1px solid $gray;
	text-align: center;
	height: 40px;
}

.bms-file-input{
	&[type="file"]{
		display:none;
	}
}

.bms-main-check-box{
	padding-top: 8px;
	padding-bottom: 3px;
}

.bms-main-button{
	background-color: $grayDark;
	border-radius: 5px;
	color: $white;
	text-decoration: none;
	display: block;
	height: 40px;
	line-height:27px;
	font-size: 12px;

	&:hover, &.active{
		background-color: $grayDarker;
		color: $white;
	}
}

label{
	vertical-align: middle;
}