/* OVERRIDE BOOTSTRAP MODAL STYLE */

.modal{
	&.small .modal-dialog{
		max-width: 400px;
	}

	&.large .modal-dialog{
		max-width: 800px;
	}


	.modal-header{
		background-color: $flatRed;
		color: $white;

		.modal-title{
			text-align: center;
		}
	}

	.modal-body{
		padding:40px;

		.row{
			&:not(:last-child){
				margin-bottom: 15px;
			}
		}

		input{
			font-size: 12px;
		}

		.lbl1, .an-link{
			padding-top: 12px;
		}

		.lbl2{
			padding-top: 5px;
		}

	}

	.an-link{
		display: block;
	}

	.fn-link{
		width: 100%;
		margin:0;
	}

	.bms-main-button{
		line-height: 26px;
	}

	.form-group{
		margin: 0;
	}


	.modal-footer{
		padding: 40px;
		background-color: $gray;
		text-align: center;
	}
}

@media (min-width: 768px){
	.modal-dialog{
		width: auto;
	}
}