%border-gray {
  border-bottom: 1px solid $breadcrumbs-bg-border;
}

%text-reset {
  text-decoration: none;
  font-weight: normal;
}

%button-effect {
  transition: all .25s;
}

%table-overflow {
  margin-left: -15px;
  margin-right: -15px;
}

%ojinput-upload {
  padding: 10px 0;
  font-size: 12px;
}

%oj-border-input {
  border-radius: 0;
  border-color: $dark-gray;
  &:focus {
    border-color: $dark;
    box-shadow: none;
  }
}

%oj-border-input-disabled {
  cursor: not-allowed;
  opacity: 1;
  border-color: $dark-gray;
  color: $disabled-text-color;
  background: $disabled-color;
  &:focus,
  &:hover{
    border-color: $dark-gray;
    color: $disabled-text-color;
    background: $disabled-color;
  }
}