
//note adjustment input forms

.overflow-right-50 {
  right: 0;
  left: 70%;
}
.overflow-right-60 {
  right: 0;
  left: 70%;
}
.overflow-right-70 {
  right: 0;
  left: 70%;
}
.overflow-right-80 {
  right: 0;
  left: 70%;
}
.overflow-right-90 {
  right: 0;
  left: 70%;
}
.overflow-right-100 {
  right: 0;
  left: 70%;
}

.all-uppercase {
  text-transform: uppercase;
}

.disabled-content {
  pointer-events: none;
  cursor: not-allowed;
  background-color: $disabled-color;
  input {
    cursor: not-allowed;
  }
}