//Global
$white: #ffffff;
$semi-white : #f2f2f2;
$semi-white2 : #e4e4e4;
$cement : #DCE3ED;
$light-gray: #cccccc;
$light-gray2: #d7d7d7;
$light-gray3: #bcbcbc;
$orange: #fd5822;
$orange-dark: #ff4000;
$super-gray: #aeaeae;
$gray: #999999;
$dark-gray : #666666;
$dark: #333333;
$deepdark: #232323;
$screen-tablet: 800px;
$screen-tablet-custom: 800px;
$screen-with-sidebar-tablet: 625px;
$border-gray: $light-gray;
$border-light-gray: #cecece;
$disabled-color: #eeeeee;
$disabled-text-color: #aaaaaa;

//Bootstrap Select
$color-red-error: rgb(185, 74, 72);
$color-grey-arrow: rgba(204, 204, 204, 0.2);
$width-default: 220px; // 3 960px-grid columns
$zindex-select-dropdown: 1060; // must be higher than a modal background (1050)


//Buttons
$btn-back-bg: $gray;
$btn-back-bg-hover : $dark-gray;
$btn-back-text: $dark;
$btn-action-bg: $orange;
$btn-action-bg-hover: $orange-dark;
$btn-action-text: $white;
$btn-dis-bg: $light-gray;

//Header Navigation
$header-top: $dark;
 
//Header Title Page
$title-bg: $semi-white;
$title-bg-border: $light-gray2;

//Breadcrumbs 
$breadcrumbs-bg: $semi-white2;
$breadcrumbs-bg-border: $light-gray2;

//input box
$input-box-border: $gray;
$input-bg: $cement;
$input-error-border-color:$orange-dark;


//side navigation
$side-nav-bg: $light-gray;
$side-nav-active: $gray;
$side-nav-hover: $light-gray3;


//Page container properties
$pc-bg: $semi-white;
$pc-border-color: $deepdark;
$pc-shadow-color: $light-gray2;


// Data Tables
$dtable-bg : $white;
$thead-bg : $semi-white2;
$thead-border-bg : $light-gray2;
$tbody-hover-bg: $semi-white;
$footer-border-bg : $gray;
$footer-page-link-active : $dark-gray;