footer{
	background-color: $darkgray;
	padding: 40px 0;
	min-height: 183px;

	p{
		margin: 10px auto 20px auto;
		text-align: center;
		font-size: 12px;
		
		&, a, .fa{
			text-decoration: none;
			color: $white;
		}
		.fa{
			font-size: 36px;
			margin: 0 5px;
		}
	}
}