header{
	padding:20px;
	min-height: 90px;

	.navbar{
		height: 100%;
		margin-bottom:0;

		/* hamburger icon */
		.navbar-toggle{
			&[aria-expanded="true"]{
				background-color: $gray;
			}
			border-radius:0;

			.icon-bar{
				background-color: $dark;
			}	
		}
		
		.navbar-brand{
			img{
				width:100%;
			}
		}

		.navbar-nav{
			li{
				margin-left: 5px;
				margin-top: 5px;
				
				& a{
					color: $dark;
					text-align: right;
				}

				&.active a, & a:hover, & a:active{
					background-color: $flatRed;
					color: $white;
				}
			}
		}
	}
/* 
	[class*="col-"]{
		border:1px solid #0de;
	} 

	.nav{
		li{
			span{
				padding:10px 15px;
				display:block;
			}
		}
	}*/
}


.bms-page-header{
	background-color: $light;
	min-height: 74px;

	h3.container{ line-height: 36px; }

	.container{
		.bms-page-header-steps{
			display: inline-block;
			font-size: 12px;
			color: $dark;
			text-decoration: none;
			margin: 15px 0;
			padding: 10px 15px;

			.step{
				display:inline-block;
				margin-right:10px;
				border-radius:12px;
				width:24px;
				height:24px;
				background-color:$flatBlueDark;
				line-height:24px;
				font-size:12px;
				text-align:center;
				color:$white;
			}

			&.complete .step{
				background-color: $flatGreen;
				position: relative;

				&:after{
					position: absolute;
					content: "\f00c";
					font-family: FontAwesome;
					top: 0;
					left: 0;
					width: 24px;
					height: 24px;
					border-radius: 12px;
					background-color: $flatGreen;
				}
			}

			&.active{
				padding: 6px 15px 6px 11px;
				/* font-weight:bold; */
				.step{
					background-color: $flatRed;
					width: 32px;
					height: 32px;
					border-radius: 16px;
					line-height:32px;
					margin-right: 6px;
				}
			}
		}
	}
}


@media (max-width: 767px){
	.bms-page-header{
		.container{
			.row{
				text-align:center;

				.bms-page-header-steps{
					width:20%;
					margin: 15px -2px;
					padding: 6px 0;

					& > .text{
						display:none;
					}

					.step, .step:after{
						width: 32px;
						height: 32px;
						line-height: 32px;
						border-radius: 16px;
						margin:0;
					}

					&.active{
						padding: 2px 0;
						/* font-weight:bold; */
						.step{
							width: 40px;
							height: 40px;
							border-radius: 20px;
							line-height:40px;
						}
					}
				}

				h3.container{
					text-align:left;
				}
			}
		}
	}

}