.bms-main-content{
	padding: 30px 0;

	.bms-title{
		font-size:24px;
		margin:20px 0;
	}
	
	.bms-detail{
		height: 40px;
		padding: 10px;
	}

	.bms-detail-label{
		width:160px;
	}

	.bms-detail-note{
		font-size:12px;
		line-height:22px;
		margin-bottom: 30px;
		text-align: left;
		font-weight: normal;
	}
}