.login-page {
  background-color: $border-gray;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-align: center;
  position: relative;
}

.login-form {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 350px;
  min-height: 400px;
  margin-top: -250px;
  margin-left: -175px;
  .login-title {
    text-align: center;
    background-color: $orange;
    height: 65px;
    line-height: 65px;
    width: 100%;
    color: $deepdark;
    margin: 0;
    img,
    h1 {
      display: inline-block;
      vertical-align: middle;
      margin: 0 10px 0 0;
    }
    h1 {
      font-size: 20px;
    }
    img {
      width: 24px;
      height: 24px;
    }
  }
  .login-input-container {
    background-color: $dark;
    box-shadow: 0px 0px 40px -10px $deepdark;
    min-height: 320px;
    form {
      padding: 20px 0;
    }
    .input-container {
      margin: 20px auto;
      width: 270px;
      position: relative;
      label {
        font-size: 12px;
        margin-right: 5px;
        color: $title-bg;
        font-weight: normal;
        text-align: left;
        vertical-align: middle;
        width: 70px;
      }
      .login-input {
        padding: 8px;
        border: none;
        font-size: 12px;
        background-color: $input-bg;
        width: 180px;
        border: 1px solid $input-bg;
        &.error {
          border: 1px solid $input-error-border-color;
        }
      }
      .system-message {
        width: 200px;
        margin: auto;
        color: $white;
        font-size: 12px;
        font-weight: normal;
        line-height: 24px;
      }
      .error-message {
        position: absolute;
        top: -15px;
        right: 6px;
        font-size: 9px;
        color: $input-bg;
      }
      .login-forgot {
        color: $title-bg;
        text-align: left;
        display: inline-block;
      }
      .login-forgot,
      .login-button {
        width: 125px;
        font-size: 11px;
        font-weight: normal;
      }
      .login-button {
        border: none;
        padding: 8px;
        display: inline-block;
        text-transform: uppercase;
        transition: all .25s;
        @extend .action-button;
        &.back {
          @extend .back-button;
        }
      }
      
      &.login-btn-group {
        .btn{
          width: 125px;
          text-transform: uppercase;
        }
        &.text-right{
          .btn {
            margin-right: 7px;
          }
        }
      }
    }
    /* for change password */
    ul.message-list {
      color: $white;
      margin: 0 25px;
      padding-bottom: 20px;
      li {
        @extend .nopadding;
        font-size: 10px;
        text-align: left;
      }
    }
  }
  .login-footer {
    font-size: 12px;
    color: $dark;
    margin: 10px 0;
    display: block;
  }
}


