/** Uncomment to Active **/
input[type="checkbox"] {
  vertical-align: top; }

pre.snippet {
  max-height: 500px;
  overflow: auto; }

label.autofill {
  width: 100%;
  position: relative; }
  label.autofill:after {
    content: "*Autofill";
    font-size: 10px;
    color: #999999;
    position: absolute;
    bottom: 1px;
    right: 0; }

.has-feedback label ~ .form-control-feedback {
  top: inherit;
  bottom: 0; }
  .has-feedback label ~ .form-control-feedback.adj-right {
    right: 0; }

/* Overide properties for buttons */
/* Affects bootstrap button and input styles */
.input-group,
.btn-group {
  width: 100%; }

/* change appearance of default bootstrap button */
/* change appearance of bootstrap dropdown */
html,
body {
  height: 100%; }

.container-fluid {
  min-width: 800px; }

.form-control {
  background-color: #ffffff; }
  .form-control[disabled], .form-control[readonly] {
    border-color: #cdcdcd; }
    .form-control[disabled]:focus, .form-control[readonly]:focus {
      border-color: #cdcdcd; }

.ojfilter-action .form-group .form-control {
  min-width: 150px; }

.input-group.oj-input-custom label {
  font-size: 12;
  font-weight: normal; }

.bootstrap-select {
  display: inline;
  width: 100%; }
  .bootstrap-select.open .btn-default.dropdown-toggle {
    background-color: #ffffff; }
  .bootstrap-select .btn.btn-default {
    box-shadow: none; }
    .bootstrap-select .btn.btn-default:hover, .bootstrap-select .btn.btn-default:focus {
      background-color: #ffffff;
      box-shadow: none; }
  .bootstrap-select .dropdown-menu {
    padding: 0;
    margin-top: 0;
    margin-top: -1px; }
    .bootstrap-select .dropdown-menu li a {
      outline: 0;
      padding-top: 5px;
      padding-bottom: 5px; }
      .bootstrap-select .dropdown-menu li a:focus {
        background-color: #f2f2f2; }
      .bootstrap-select .dropdown-menu li a:hover {
        background-color: #333333;
        color: #ffffff; }

.input-group-btn > .btn {
  border-radius: 0;
  border-color: #666666; }
  .input-group-btn > .btn:focus {
    border-color: #333333; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/roboto-regular-webfont.eot");
  src: url("../fonts/roboto/roboto-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/roboto-regular-webfont.woff2") format("woff2"), url("../fonts/roboto/roboto-regular-webfont.woff") format("woff"), url("../fonts/roboto/roboto-regular-webfont.ttf") format("truetype"), url("../fonts/roboto/roboto-regular-webfont.svg#Roboto") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/roboto-bold-webfont.eot");
  src: url("../fonts/roboto/roboto-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/roboto-bold-webfont.woff2") format("woff2"), url("../fonts/roboto/roboto-bold-webfont.woff") format("woff"), url("../fonts/roboto/roboto-bold-webfont.ttf") format("truetype"), url("../fonts/roboto/roboto-bold-webfont.svg#robotobold") format("svg");
  font-weight: 700;
  font-style: bold; }

html, body {
  font-family: 'Roboto', sans-serif; }

.btn-oj-group .btn {
  margin-left: 5px;
  margin-right: 5px; }

.btn-oj-group.left {
  text-align: left; }

.btn-oj-group.right {
  text-align: right; }

.btn-oj-group.center {
  text-align: center; }

.oj-button, .oj-btn-back, .btn[data-clipboard-snippet] {
  color: #ffffff;
  text-decoration: none;
  text-transform: capitalize;
  background-color: #333333;
  border: none;
  border-radius: 0;
  padding: 8px 18px;
  outline: 0;
  font-size: 12px; }
  .oj-button--margin-adj {
    margin: 10px 10px; }
  .oj-button:hover, .oj-btn-back:hover, .btn[data-clipboard-snippet]:hover, .oj-button:focus, .oj-btn-back:focus, .btn[data-clipboard-snippet]:focus, .oj-button:active, .oj-btn-back:active, .btn[data-clipboard-snippet]:active {
    text-decoration: none;
    background-color: #fd5822;
    color: #ffffff;
    outline: 0; }
  .oj-button[disabled]:hover, [disabled].oj-btn-back:hover, [disabled].btn[data-clipboard-snippet]:hover {
    background-color: #333333; }

.oj-button--margin-top-30 {
  margin-top: 30px; }

.dark-button {
  background-color: #333333;
  color: #ffffff; }
  .dark-button:hover, .dark-button:focus, .dark-button:active {
    text-decoration: none;
    background-color: #fd5822 !important;
    color: #ffffff !important;
    border-color: #fd5822 !important;
    outline: 0 !important; }

.gray-button {
  background-color: #999999;
  color: #333333; }
  .gray-button:hover, .gray-button:focus {
    background-color: #666666;
    color: #ffffff; }

.light-gray-button {
  background-color: #bcbcbc;
  color: #333333; }
  .light-gray-button:hover, .light-gray-button:focus {
    background-color: #aeaeae;
    color: #333333; }

.orange-button {
  background-color: #fd5822;
  color: #ffffff; }
  .orange-button:hover, .orange-button:focus {
    background-color: #ff4000;
    color: #ffffff; }

.white-ghost-button {
  background-color: #ffffff;
  color: #333333;
  border: 1px solid #666666; }
  .white-ghost-button:hover, .white-ghost-button:focus {
    background-color: #ffffff;
    color: #333333; }

.oj-lg-button {
  padding: 8px 50px;
  font-size: 20px; }

.oj-sm-button {
  padding: 4px 6px;
  font-size: 11px; }

.oj-btn-back {
  margin-right: 15px;
  padding: 6px 15px; }

.box-btn {
  padding: 8px 12px;
  margin-left: 5px !important; }

.change-status-btn-grp .white-ghost-button {
  width: 120px;
  text-align: left;
  padding: 8px 10px; }
  .change-status-btn-grp .white-ghost-button .caret {
    float: right;
    margin-top: 8px; }

.change-status-btn-grp ul {
  border-radius: 0;
  border-color: #666666; }
  .change-status-btn-grp ul li a:hover {
    background-color: #d7d7d7; }

.btn[data-clipboard-snippet] {
  float: right; }

.main-title, .custom-breadcrumb {
  border-bottom: 1px solid #d7d7d7; }

.modal-message, .modal-confirmation, .dataTables_paginate ul li > a, .dataTables_paginate span > a, .ojnote, .ojlink {
  text-decoration: none;
  font-weight: normal; }

.oj-button, .oj-btn-back, .btn[data-clipboard-snippet] {
  transition: all .25s; }

.ojinput[type="file"] {
  padding: 10px 0;
  font-size: 12px; }

.form-control, .bootstrap-select .btn.btn-default, .bootstrap-select .dropdown-menu {
  border-radius: 0;
  border-color: #666666; }
  .form-control:focus, .bootstrap-select .btn.btn-default:focus, .bootstrap-select .dropdown-menu:focus {
    border-color: #333333;
    box-shadow: none; }

.bootstrap-select .btn.btn-default.disabled {
  cursor: not-allowed;
  opacity: 1;
  border-color: #666666;
  color: #aaaaaa;
  background: #eeeeee; }
  .bootstrap-select .btn.btn-default.disabled:focus, .bootstrap-select .btn.btn-default.disabled:hover {
    border-color: #666666;
    color: #aaaaaa;
    background: #eeeeee; }

.overflow-right-50 {
  right: 0;
  left: 70%; }

.overflow-right-60 {
  right: 0;
  left: 70%; }

.overflow-right-70 {
  right: 0;
  left: 70%; }

.overflow-right-80 {
  right: 0;
  left: 70%; }

.overflow-right-90 {
  right: 0;
  left: 70%; }

.overflow-right-100 {
  right: 0;
  left: 70%; }

.all-uppercase {
  text-transform: uppercase; }

.disabled-content {
  pointer-events: none;
  cursor: not-allowed;
  background-color: #eeeeee; }
  .disabled-content input {
    cursor: not-allowed; }

.nopadding, .login-form .login-input-container ul.message-list li, .modal.with-dataTables .modal-dialog .modal-content,
.modal.with-dataTables .modal-dialog .modal-content .modal-body, .oj-box ul {
  padding: 0;
  margin: 0; }

.no-padding-left {
  padding-left: 0 !important; }

.no-margin {
  margin: 0 !important; }

.no-margin-bottom {
  margin-bottom: 0 !important; }

.no-border {
  border: 0 !important; }

.margin-top-30 {
  margin-top: 30px !important; }

.margin-top-50 {
  margin-top: 50px !important; }

.text-right {
  text-align: right !important; }

.margin-bottom-0 {
  margin-bottom: 0 !important; }

.margin-top-0 {
  margin-top: 0 !important; }

.margin-left-0 {
  margin-top: 0 !important; }

.margin-right-0 {
  margin-right: 0 !important; }

.box--red {
  background-color: red; }

.box--blue {
  background-color: blue; }

.box--gray {
  background-color: gray; }

.box--green {
  background-color: green; }

.main-wrapper {
  background-color: #f2f2f2;
  min-height: 100%;
  min-width: 800px;
  width: 100%;
  margin-bottom: -30px;
  position: relative; }
  .main-wrapper .container-fluid {
    min-width: 800px; }
  .main-wrapper.with-side-content .sidebar-wrap {
    width: 175px; }
  .main-wrapper.with-side-content .content-wrap {
    width: 100%;
    padding-left: 175px; }
    .main-wrapper.with-side-content .content-wrap .container-fluid {
      min-width: 625px; }

aside.sidebar-wrap {
  background-color: #cccccc;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  top: 185px;
  z-index: 1;
  left: 0; }

.navbar-collapse.collapse {
  display: block !important; }

.navbar-nav > li,
.navbar-nav {
  float: left !important; }

.navbar-nav.navbar-right:last-child {
  margin-right: -15px !important; }

.navbar-right {
  float: right !important; }

.navbar.navbar-default {
  min-width: 800px;
  margin-bottom: 0;
  border: 0;
  border-radius: 0;
  border-bottom: 2px solid #cccccc; }
  .navbar.navbar-default .nav-top {
    background-color: #333333; }
    .navbar.navbar-default .nav-top .navbar-header {
      float: left;
      margin-right: 0; }
      .navbar.navbar-default .nav-top .navbar-header .navbar-brand {
        background-color: #fd5822; }
    .navbar.navbar-default .nav-top h1 {
      font-family: 'Roboto', sans-serif;
      font-weight: normal;
      font-size: 18px;
      color: #ffffff;
      float: left;
      margin-left: 15px;
      margin-right: 15px; }
    .navbar.navbar-default .nav-top ul.navbar-right li {
      text-align: center; }
      .navbar.navbar-default .nav-top ul.navbar-right li .username-log {
        padding-top: 15px;
        padding-bottom: 15px;
        display: block;
        color: #ffffff;
        margin-right: 10px; }
      .navbar.navbar-default .nav-top ul.navbar-right li .thumbnail-circle {
        width: 30px;
        height: 30px;
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 50%;
        background-position: center; }
      .navbar.navbar-default .nav-top ul.navbar-right li.dropdown a.dropdown-toggle {
        color: #ffffff;
        margin-left: 10px;
        padding: 15px 13px; }
        .navbar.navbar-default .nav-top ul.navbar-right li.dropdown a.dropdown-toggle:hover {
          color: #ffffff;
          background-color: #232323; }
      .navbar.navbar-default .nav-top ul.navbar-right li.dropdown.open .dropdown-toggle {
        background-color: #fd5822;
        color: #333333; }
      .navbar.navbar-default .nav-top ul.navbar-right li.dropdown.open .dropdown-menu {
        background-color: #fd5822;
        position: absolute;
        right: 0;
        left: auto;
        width: 210px;
        padding-bottom: 30px;
        border-radius: 0;
        border: 0; }
        .navbar.navbar-default .nav-top ul.navbar-right li.dropdown.open .dropdown-menu img {
          margin-top: 20px;
          margin-bottom: 20px;
          width: 120px;
          height: 120px; }
        .navbar.navbar-default .nav-top ul.navbar-right li.dropdown.open .dropdown-menu li {
          color: #333333; }
          .navbar.navbar-default .nav-top ul.navbar-right li.dropdown.open .dropdown-menu li a {
            font-size: 12px;
            text-transform: uppercase;
            padding: 5px 20px; }
            .navbar.navbar-default .nav-top ul.navbar-right li.dropdown.open .dropdown-menu li a:hover, .navbar.navbar-default .nav-top ul.navbar-right li.dropdown.open .dropdown-menu li a:focus {
              font-weight: 700;
              color: #ffffff;
              background-color: #333333; }
            .navbar.navbar-default .nav-top ul.navbar-right li.dropdown.open .dropdown-menu li a i.fa {
              margin-right: 5px; }
    .navbar.navbar-default .nav-top .navbar-nav {
      margin: 0; }
  .navbar.navbar-default .nav-bottom {
    background-color: #ffffff;
    height: 60px; }
    .navbar.navbar-default .nav-bottom .nav li {
      margin-right: 5px; }
      .navbar.navbar-default .nav-bottom .nav li a {
        position: relative;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-right: 8px;
        padding-left: 8px;
        font-size: 12px;
        color: #333333; }
        .navbar.navbar-default .nav-bottom .nav li a:hover:after {
          content: '';
          position: absolute;
          top: 0px;
          left: 0;
          bottom: 5px;
          right: 0;
          border-bottom: 5px solid #cecece; }
        .navbar.navbar-default .nav-bottom .nav li a i.fa {
          margin-right: 3px;
          display: none; }
          @media (min-width: 800px) {
            .navbar.navbar-default .nav-bottom .nav li a i.fa {
              display: inline-block; } }
        @media (min-width: 800px) {
          .navbar.navbar-default .nav-bottom .nav li a {
            width: 100%;
            padding-right: 8px;
            padding-left: 8px; } }
      .navbar.navbar-default .nav-bottom .nav li.active a {
        background-color: #ffffff; }
        .navbar.navbar-default .nav-bottom .nav li.active a:after {
          content: '';
          position: absolute;
          top: 0px;
          left: 0;
          bottom: 5px;
          right: 0;
          border-bottom: 5px solid #fd5822; }
    .navbar.navbar-default .nav-bottom .navbar-nav {
      margin: 0; }

.create-quick-link {
  margin: 13px 0px; }
  .create-quick-link .dropdown-menu {
    width: 410px;
    margin-top: 0;
    border: 0;
    padding: 5px 5px;
    border-radius: 0;
    background-color: #333333; }
    .create-quick-link .dropdown-menu li {
      font-size: 13px;
      float: left;
      display: table;
      text-align: center; }
      .create-quick-link .dropdown-menu li a {
        color: #ffffff;
        width: 100px;
        height: 50px;
        white-space: normal;
        display: table-cell;
        vertical-align: middle;
        padding: 0; }
        .create-quick-link .dropdown-menu li a:hover, .create-quick-link .dropdown-menu li a:focus {
          background-color: #fd5822;
          font-weight: 700; }

footer {
  min-width: 800px;
  height: 30px;
  background-color: #333333;
  position: relative;
  z-index: 20; }
  footer .container-fluid p {
    text-align: center;
    color: #ffffff;
    font-size: 11px;
    margin: 7px 0; }

.login-page {
  background-color: #cccccc;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-align: center;
  position: relative; }

.login-form {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 350px;
  min-height: 400px;
  margin-top: -250px;
  margin-left: -175px; }
  .login-form .login-title {
    text-align: center;
    background-color: #fd5822;
    height: 65px;
    line-height: 65px;
    width: 100%;
    color: #232323;
    margin: 0; }
    .login-form .login-title img,
    .login-form .login-title h1 {
      display: inline-block;
      vertical-align: middle;
      margin: 0 10px 0 0; }
    .login-form .login-title h1 {
      font-size: 20px; }
    .login-form .login-title img {
      width: 24px;
      height: 24px; }
  .login-form .login-input-container {
    background-color: #333333;
    box-shadow: 0px 0px 40px -10px #232323;
    min-height: 320px;
    /* for change password */ }
    .login-form .login-input-container form {
      padding: 20px 0; }
    .login-form .login-input-container .input-container {
      margin: 20px auto;
      width: 270px;
      position: relative; }
      .login-form .login-input-container .input-container label {
        font-size: 12px;
        margin-right: 5px;
        color: #f2f2f2;
        font-weight: normal;
        text-align: left;
        vertical-align: middle;
        width: 70px; }
      .login-form .login-input-container .input-container .login-input {
        padding: 8px;
        border: none;
        font-size: 12px;
        background-color: #DCE3ED;
        width: 180px;
        border: 1px solid #DCE3ED; }
        .login-form .login-input-container .input-container .login-input.error {
          border: 1px solid #ff4000; }
      .login-form .login-input-container .input-container .system-message {
        width: 200px;
        margin: auto;
        color: #ffffff;
        font-size: 12px;
        font-weight: normal;
        line-height: 24px; }
      .login-form .login-input-container .input-container .error-message {
        position: absolute;
        top: -15px;
        right: 6px;
        font-size: 9px;
        color: #DCE3ED; }
      .login-form .login-input-container .input-container .login-forgot {
        color: #f2f2f2;
        text-align: left;
        display: inline-block; }
      .login-form .login-input-container .input-container .login-forgot,
      .login-form .login-input-container .input-container .login-button {
        width: 125px;
        font-size: 11px;
        font-weight: normal; }
      .login-form .login-input-container .input-container .login-button {
        border: none;
        padding: 8px;
        display: inline-block;
        text-transform: uppercase;
        transition: all .25s; }
      .login-form .login-input-container .input-container.login-btn-group .btn {
        width: 125px;
        text-transform: uppercase; }
      .login-form .login-input-container .input-container.login-btn-group.text-right .btn {
        margin-right: 7px; }
    .login-form .login-input-container ul.message-list {
      color: #ffffff;
      margin: 0 25px;
      padding-bottom: 20px; }
      .login-form .login-input-container ul.message-list li {
        font-size: 10px;
        text-align: left; }
  .login-form .login-footer {
    font-size: 12px;
    color: #333333;
    margin: 10px 0;
    display: block; }

.main-title {
  background-color: #f2f2f2; }
  .main-title h1 {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px; }

/* Page header styles */
.ojpage-header {
  margin: 0 0 20px 0; }
  .ojpage-header .pheader {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 20px;
    text-align: left;
    color: #333333; }

.modal-message {
  font-size: 14px;
  margin-bottom: 20px; }

.modal-confirmation {
  font-size: 18px;
  margin-bottom: 24px; }

/* change appearance of bootstrap modal */
.modal {
  outline: none;
  /* override when dataTable is present inside the modal */ }
  .modal .modal-dialog.modal-sm {
    width: 400px; }
  .modal .modal-dialog.modal-lg .modal-content {
    padding: 0;
    text-align: left; }
  .modal .modal-dialog .modal-content {
    border-radius: 0;
    border: none;
    background-color: #ffffff;
    box-shadow: 0 2px 5px -2px #333333;
    padding: 30px;
    text-align: center;
    border-top: 8px solid #232323; }
    .modal .modal-dialog .modal-content--no-border {
      border-top: none; }
    .modal .modal-dialog .modal-content .modal-header {
      text-align: center;
      border-bottom: 0; }
      .modal .modal-dialog .modal-content .modal-header .close {
        position: absolute;
        top: 2px;
        right: 4px;
        z-index: 3;
        font-size: 30px; }
        .modal .modal-dialog .modal-content .modal-header .close:focus {
          box-shadow: none;
          outline: 0; }
      .modal .modal-dialog .modal-content .modal-header__custom {
        position: relative;
        overflow: hidden;
        background-color: #fd5822;
        padding: 7px 15px;
        color: #ffffff;
        text-align: left; }
        .modal .modal-dialog .modal-content .modal-header__custom .close {
          position: absolute;
          right: 0;
          top: 0;
          background: #333333;
          width: 50px;
          height: 100%;
          margin-top: 0;
          font-size: 14px;
          font-weight: normal;
          color: #ffffff;
          text-shadow: none;
          opacity: 1; }
    .modal .modal-dialog .modal-content .row {
      margin-bottom: 20px; }
      .modal .modal-dialog .modal-content .row [class^="col-"],
      .modal .modal-dialog .modal-content .row [class^="col-"] label {
        font-size: 12px;
        text-align: left;
        font-weight: normal; }
    .modal .modal-dialog .modal-content .modal-footer {
      border-top: 0px;
      text-align: center; }
      .modal .modal-dialog .modal-content .modal-footer.btn-oj-group .btn {
        min-width: 100px; }
  .modal.with-dataTables .modal-dialog {
    width: 900px; }
    .modal.with-dataTables .modal-dialog .modal-content .modal-header {
      padding: 20px; }
    .modal.with-dataTables .modal-dialog .modal-content .dataTables_paginate,
    .modal.with-dataTables .modal-dialog .modal-content .modal-body .dataTables_paginate {
      margin: 0 15px; }
  .modal .modal-table-v1 .modal-content {
    padding-left: 0;
    padding-right: 0; }
    .modal .modal-table-v1 .modal-content .modal-header {
      text-align: left; }
    .modal .modal-table-v1 .modal-content .modal-body {
      padding: 0; }

.custom-breadcrumb {
  min-width: 800px;
  padding: 5px 15px;
  background-color: #e4e4e4;
  border-radius: 0;
  margin-bottom: 0; }
  .custom-breadcrumb li {
    font-size: 12px; }
    .custom-breadcrumb li a {
      color: #333333; }
  .custom-breadcrumb > .active {
    font-weight: 700;
    color: #333333; }

.dataTables_wrapper .row:first-child {
  display: none; }

.dataTables_wrapper .row:nth-child(2) {
  overflow: hidden;
  min-height: 300px; }
  .dataTables_wrapper .row:nth-child(2):after, .dataTables_wrapper .row:nth-child(2):before {
    display: none; }

.dataTables_wrapper .row:last-child {
  margin: 0 20px;
  padding: 0;
  border-top: 1px solid #999999; }
  .dataTables_wrapper .row:last-child [class^="col-"] {
    padding: 0; }

table.dataTable {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%; }

.global-table {
  background-color: #ffffff; }
  .global-table thead {
    border-bottom: 1px solid #d7d7d7;
    background-color: #e4e4e4; }
    .global-table thead tr th {
      border: 0; }
      .global-table thead tr th:after {
        font-size: 10px; }
      .global-table thead tr th.sorting:after {
        content: '\e252'; }
      .global-table thead tr th.sorting_asc:after {
        content: '\e252'; }
      .global-table thead tr th.sorting_desc:after {
        content: '\e253'; }
      .global-table thead tr th.no-sort:after {
        display: none; }
      .global-table thead tr th.no-sort.sorting_asc {
        cursor: default; }
        .global-table thead tr th.no-sort.sorting_asc:after {
          display: none; }
  .global-table tbody tr:hover {
    background-color: #f2f2f2; }
  .global-table tbody tr td {
    border: 0; }
  .global-table tbody, .global-table thead {
    font-size: 12px;
    font-weight: normal; }
  .global-table th {
    padding: 10px 8px !important; }
    .global-table th:after {
      bottom: 10px !important; }
  .global-table th, .global-table td {
    text-align: center;
    vertical-align: middle !important; }
    .global-table th > a, .global-table td > a {
      display: inline-block;
      padding: 0 4px;
      border-bottom: 3px solid transparent;
      text-decoration: none;
      color: #232323; }
      .global-table th > a:hover, .global-table td > a:hover {
        border-bottom: 3px solid #232323; }

.dataTables_info, .dataTables_paginate {
  padding: 10px 0 15px 0; }

.dataTables_info, .dataTables_length, .dataTables_filter {
  display: none; }

.dataTables_paginate .previous, .dataTables_paginate .next {
  display: none; }

.dataTables_paginate ul li > a, .dataTables_paginate span > a {
  margin-left: 4px;
  background-color: #f2f2f2;
  font-size: 11px;
  color: #333333;
  border: none;
  cursor: pointer !important;
  padding: 6px 12px;
  display: inline-block; }

.dataTables_paginate ul li.active a, .dataTables_paginate ul li a.current, .dataTables_paginate ul li a.paginate_button:hover, .dataTables_paginate ul li a:hover, .dataTables_paginate ul li a:active, .dataTables_paginate span.active a, .dataTables_paginate span a.current, .dataTables_paginate span a.paginate_button:hover, .dataTables_paginate span a:hover, .dataTables_paginate span a:active {
  color: #ffffff !important;
  background-color: #666666 !important; }

.table-header-custom {
  height: 64px;
  padding: 15px 0;
  margin-bottom: 0px !important; }
  .table-header-custom .search-table {
    min-width: 250px; }
  .table-header-custom:before, .table-header-custom:after {
    display: none; }
  .table-header-custom .hide-filter .form-inline .forms-hide {
    margin-left: 20px;
    display: none; }
    .table-header-custom .hide-filter .form-inline .forms-hide .has-feedback {
      margin-right: 10px; }
      .table-header-custom .hide-filter .form-inline .forms-hide .has-feedback .oj-time-picker {
        margin-left: 10px; }
  .table-header-custom .hide-filter [data-action="togglePeriod"] {
    background-color: red; }
  .table-header-custom.table-header-double {
    height: 114px; }
    .table-header-custom.table-header-double .btm-header {
      margin-top: 15px; }

.table-header-adv {
  padding: 15px; }
  .table-header-adv > [class*="col"] {
    margin-bottom: 15px; }
    .table-header-adv > [class*="col"]:last-child {
      margin-bottom: 0; }
      .table-header-adv > [class*="col"]:last-child > .btn-oj-group {
        margin-bottom: 0; }
    .table-header-adv > [class*="col"].hide-filter .form-inline .forms-hide {
      margin-left: 10px;
      display: none; }
      .table-header-adv > [class*="col"].hide-filter .form-inline .forms-hide .has-feedback {
        margin-right: 5px; }
        .table-header-adv > [class*="col"].hide-filter .form-inline .forms-hide .has-feedback .oj-date-picker {
          margin-left: 5px; }
      .table-header-adv > [class*="col"].hide-filter .form-inline .forms-hide .oj-date-picker {
        min-width: inherit;
        width: 135px;
        padding-right: 30px; }
    .table-header-adv > [class*="col"].hide-filter [data-action="togglePeriod"] {
      background-color: red; }
  .table-header-adv .label-adj-v1 {
    margin-right: 5px; }

.forms-hide {
  margin-left: 20px;
  display: none; }

.page-container {
  padding: 20px; }

.pdetails-container {
  width: 100%;
  min-height: 300px;
  margin: 20px 0 30px 0;
  padding: 0;
  border-top: 8px solid #232323;
  box-shadow: 0px 2px 3px 1px #d7d7d7;
  background-color: #ffffff; }

.ojnote {
  font-size: 11px;
  line-height: 36px; }

.note {
  width: 100%;
  font-size: 12px; }
  .note.right {
    text-align: right; }
  .note.left {
    text-align: left; }

/* box section with gray background */
.oj-box {
  background-color: #f2f2f2;
  padding: 15px; }
  .oj-box ul {
    list-style: none; }
    .oj-box ul li {
      font-size: 12px; }

div.info {
  display: none; }

/* INITIAL STATE OF INFO */
div.noinfo {
  diplay: block; }

.ojlink {
  color: #333333; }
  .ojlink.disabled {
    color: #999999; }

.pdetails-footer {
  text-align: right;
  margin: 20px;
  padding: 10px 0 0 0;
  border-top: 1px solid #999999; }
  .pdetails-footer .btn {
    margin-left: 10px;
    min-width: 100px; }

.sub-navigation ul {
  list-style: none;
  margin: 0;
  margin-top: 35px;
  padding: 0; }
  .sub-navigation ul li a {
    font-size: 12px;
    text-decoration: none;
    color: #333333;
    display: block;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-left-width: 5px;
    border-left-style: solid;
    border-left-color: transparent; }
    .sub-navigation ul li a:hover {
      background-color: #bcbcbc;
      border-left-color: #bcbcbc; }
  .sub-navigation ul li.active a {
    font-weight: 700;
    background-color: #999999;
    border-left-color: #fd5822; }

.oj-form {
  padding: 30px 15px; }
  .oj-form .oj-form__title {
    margin-bottom: 20px;
    margin-top: 40px;
    font-weight: 700; }
    .oj-form .oj-form__title--margin-10-btm {
      margin-bottom: 10px; }
  .oj-form .form-group {
    margin-bottom: 20px; }
    .oj-form .form-group--no-margin-bottom {
      margin-bottom: 0; }
    .oj-form .form-group .control-label {
      margin-bottom: 5px;
      font-size: 12px; }
      .oj-form .form-group .control-label.control-label--bold {
        font-weight: bold; }
      .oj-form .form-group .control-label.control-label--full-width {
        display: block;
        text-align: left; }
    .oj-form .form-group .input-notes-top {
      clear: both;
      display: inline-block;
      white-space: nowrap;
      font-size: 10px;
      margin-left: 10px;
      position: absolute;
      top: 9px;
      right: 15px;
      color: #999999; }
    .oj-form .form-group .input-notes-bottom {
      clear: both;
      display: inline-block;
      white-space: nowrap;
      font-size: 10px;
      margin-left: 10px;
      position: absolute;
      bottom: -15px;
      right: 15px;
      color: #f32929; }
      .oj-form .form-group .input-notes-bottom p {
        margin: 0; }
    .oj-form .form-group .form-group-time-setup .time-value {
      width: 60%;
      float: left;
      margin-right: 10px; }
    .oj-form .form-group .form-group-time-setup .time-period {
      width: calc(40% - 10px);
      float: left; }
    .oj-form .form-group #a-upload-file {
      overflow: hidden; }
    .oj-form .form-group #a-clear {
      display: none;
      color: #333333;
      font-size: 11px;
      float: right;
      font-weight: 700; }
    .oj-form .form-group .form-control-custom {
      font-size: 12px;
      text-align: left; }
  .oj-form .oj-form-footer {
    margin-top: 50px;
    margin-bottom: 0px; }
    .oj-form .oj-form-footer .btn-oj-group {
      padding-top: 20px;
      border-top: 1px solid #999999; }
  .oj-form.view-details .control-label {
    font-weight: 700; }

.age-range-wrap {
  width: 100%;
  position: absolute;
  top: 50px;
  left: 15px;
  display: none; }
  .age-range-wrap.show {
    display: block; }
  .age-range-wrap .form-group:first-child {
    margin-right: 25px; }
  .age-range-wrap .form-group .control-label {
    margin-right: 10px; }
  .age-range-wrap .age-box.form-control {
    width: 70px; }

.profile-img-wrap .form-group .img-thumbnail {
  width: 150px;
  height: 150px; }

.profile-img-wrap .form-group .control-label {
  width: 100%;
  text-align: left; }

.profile-img-wrap .form-group .upload-img-wrap input[type="file"] {
  opacity: 0;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  position: absolute;
  cursor: pointer;
  z-index: -1; }

.profile-img-wrap .form-group .upload-img-wrap .btn {
  margin-top: 15px; }

.accommodation-table {
  padding: 10px; }
  .accommodation-table.accommodation-table--no-border {
    border: 0; }
    .accommodation-table.accommodation-table--no-border table thead {
      width: 100%; }
      .accommodation-table.accommodation-table--no-border table thead tr th:first-child {
        text-align: left; }
  .accommodation-table table thead {
    width: 97%;
    display: block; }
    .accommodation-table table thead tr {
      display: block; }
      .accommodation-table table thead tr th {
        text-align: center;
        display: block;
        float: left;
        border-bottom-width: 0;
        font-size: 12px;
        line-height: 12px; }
  .accommodation-table table tbody {
    border-top: 1px solid #333333; }
    .accommodation-table table tbody.accommodation-table--height-auto {
      height: auto;
      overflow-y: auto; }
      .accommodation-table table tbody.accommodation-table--height-auto tr td {
        line-height: 17px;
        height: auto; }
        .accommodation-table table tbody.accommodation-table--height-auto tr td:first-child {
          text-align: left; }
        .accommodation-table table tbody.accommodation-table--height-auto tr td input[type="radio"] {
          margin-top: 2px; }
        .accommodation-table table tbody.accommodation-table--height-auto tr td span {
          line-height: 30px; }
    .accommodation-table table tbody tr {
      display: inline-block;
      width: 100%;
      height: auto; }
      .accommodation-table table tbody tr:hover {
        background-color: #f2f2f2; }
      .accommodation-table table tbody tr td {
        display: block;
        text-align: center;
        border-top: 0;
        float: left;
        border-bottom-width: 0;
        font-size: 12px;
        line-height: 12px; }
        .accommodation-table table tbody tr td.table-action-custom {
          height: inherit; }
        .accommodation-table table tbody tr td .not-available {
          font-size: 20px; }
        .accommodation-table table tbody tr td .checkbox-inline {
          padding-top: 0; }
          .accommodation-table table tbody tr td .checkbox-inline [type="checkbox"] {
            margin-top: 0px; }
        .accommodation-table table tbody tr td.main-function {
          padding-top: 18px;
          padding-bottom: 18px; }
  .accommodation-table.disable-table {
    background-color: #eeeeee;
    cursor: not-allowed; }
    .accommodation-table.disable-table table {
      pointer-events: none; }
      .accommodation-table.disable-table table thead tr th {
        color: #999999; }
      .accommodation-table.disable-table table tbody tr td {
        color: #999999; }
        .accommodation-table.disable-table table tbody tr td .oj-lg-button {
          background-color: #999999;
          color: #666666; }

.btn.custom-btn-test {
  outline: 0;
  border-radius: 0;
  background-color: transparent;
  display: inline-block;
  padding: 0 4px;
  border: 0;
  border-bottom: 3px solid transparent;
  text-decoration: none;
  color: #232323;
  font-size: 12px; }
  .btn.custom-btn-test:hover, .btn.custom-btn-test:focus, .btn.custom-btn-test:active {
    box-shadow: 0;
    outline: 0;
    border-bottom: 3px solid red; }

/* box section with gray outline */
.oj-box2 {
  border: 1px solid #cccccc; }
  .oj-box2 .oj-box2-header {
    padding: 4px 10px;
    background-color: #cccccc;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 15px;
    min-height: 31px; }
  .oj-box2 .oj-box2-content {
    padding: 15px;
    /* for Voyage and E-Voucher */
    /* TICKETING STYLES */ }
    .oj-box2 .oj-box2-content > .row:not(:last-child) {
      margin-bottom: 15px; }
    .oj-box2 .oj-box2-content.disabled {
      background-color: #e4e4e4; }
    .oj-box2 .oj-box2-content .oj-vessel {
      width: 100%; }
      .oj-box2 .oj-box2-content .oj-vessel tr td {
        border: 6px solid #ffffff;
        padding: 6px 2px;
        font-size: 10px;
        background-color: #999999;
        text-align: center; }
        .oj-box2 .oj-box2-content .oj-vessel tr td.unavailable {
          background-color: #333333; }
        .oj-box2 .oj-box2-content .oj-vessel tr td.table-action-custom {
          background-color: transparent; }
          .oj-box2 .oj-box2-content .oj-vessel tr td.table-action-custom .not-available {
            font-size: 20px; }
    .oj-box2 .oj-box2-content .oj-vessel-none {
      color: #666666;
      font-size: 16px;
      text-align: center; }
    .oj-box2 .oj-box2-content .cms_box_in_header,
    .oj-box2 .oj-box2-content .cms_box_in_content {
      color: #333333;
      padding-bottom: 15px; }
      .oj-box2 .oj-box2-content .cms_box_in_header.cms_box_in_header,
      .oj-box2 .oj-box2-content .cms_box_in_content.cms_box_in_header {
        border-bottom: 1px solid #999999; }
      .oj-box2 .oj-box2-content .cms_box_in_header.cms_box_in_header,
      .oj-box2 .oj-box2-content .cms_box_in_header.cms_box_in_content .row,
      .oj-box2 .oj-box2-content .cms_box_in_content.cms_box_in_header,
      .oj-box2 .oj-box2-content .cms_box_in_content.cms_box_in_content .row {
        margin-bottom: 15px; }
      .oj-box2 .oj-box2-content .cms_box_in_header [class*="col-"],
      .oj-box2 .oj-box2-content .cms_box_in_content [class*="col-"] {
        text-align: center;
        font-size: 12px; }
    .oj-box2 .oj-box2-content .cms_box_in_button_group {
      margin: auto;
      width: 200px; }
    .oj-box2 .oj-box2-content .oj-box2-info {
      border: 15px solid #e4e4e4;
      padding: 15px;
      min-height: 100px;
      background-color: #f2f2f2; }
      .oj-box2 .oj-box2-content .oj-box2-info.with-header {
        padding: 0; }
        .oj-box2 .oj-box2-content .oj-box2-info.with-header .oj-box2-info-header {
          font-weight: bold;
          font-size: 12px;
          padding: 10px 20px;
          background-color: #aeaeae; }
        .oj-box2 .oj-box2-content .oj-box2-info.with-header .oj-box2-info-content {
          padding: 15px; }
      .oj-box2 .oj-box2-content .oj-box2-info span.noinfo {
        font-size: 24px;
        text-align: center;
        display: block;
        line-height: 150px;
        color: #999999; }
      .oj-box2 .oj-box2-content .oj-box2-info .row:not(:last-child) {
        margin-bottom: 15px; }
    .oj-box2 .oj-box2-content .table-statistics {
      width: 100%; }
      .oj-box2 .oj-box2-content .table-statistics tr td {
        border: 1px solid #999999;
        padding: 10px;
        text-align: center; }
        .oj-box2 .oj-box2-content .table-statistics tr td:first-child {
          width: 40%; }
    .oj-box2 .oj-box2-content .input-group.radio-group {
      border: 1px solid #999999;
      height: 20px;
      padding: 3px 12px; }
      .oj-box2 .oj-box2-content .input-group.radio-group > input[type="radio"] {
        vertical-align: middle;
        margin: 0 5px 0 0; }
      .oj-box2 .oj-box2-content .input-group.radio-group > label {
        margin-right: 20px; }

.accommodation-table-v2 {
  font-size: 12px; }
  .accommodation-table-v2 thead tr th {
    font-weight: 300;
    text-align: center; }
    .accommodation-table-v2 thead tr th:first-child {
      text-align: left; }
  .accommodation-table-v2 tbody tr td {
    font-weight: 300;
    text-align: center; }

.form-group--padding-side {
  padding-left: 25px;
  padding-right: 25px; }

.form-group__custom .form-group {
  padding-left: 15px;
  padding-right: 15px; }

.form-group__footer {
  padding-top: 10px;
  margin-left: 0 !important;
  margin-right: 0 !important;
  border-top: 1px solid #999999; }

.form-box {
  min-height: 200px;
  padding: 10px;
  border: 1px solid #666666; }
  .form-box--blank {
    text-align: center;
    display: table;
    height: 200px;
    width: 100%;
    margin-top: 20px;
    background-color: #eeeeee;
    border: 0; }
    .form-box--blank .no-selected {
      display: table-cell;
      vertical-align: middle;
      font-size: 28px;
      color: #bcbcbc; }
  .form-box.form-box--hight-auto {
    height: auto;
    min-height: 0; }
  .form-box.no-content {
    display: table;
    width: 100%;
    text-align: center; }
    .form-box.no-content .no-selected {
      display: table-cell;
      vertical-align: middle;
      font-size: 28px;
      color: #bcbcbc; }
  .form-box .table-header-custom {
    height: 50px;
    padding-top: 0; }

.media-wrap {
  padding: 30px;
  margin: 0; }
  .media-wrap.media-full-view {
    max-width: 600px;
    margin: 0 auto; }
    .media-wrap.media-full-view .media-header {
      margin-bottom: 40px; }
      .media-wrap.media-full-view .media-header .media-date {
        font-weight: 700; }
      .media-wrap.media-full-view .media-header .media-heading {
        font-size: 24px;
        font-weight: 700; }
    .media-wrap.media-full-view .media-body img {
      margin-bottom: 10px; }
      .media-wrap.media-full-view .media-body img.left {
        margin-right: 10px;
        float: left; }
      .media-wrap.media-full-view .media-body img.right {
        margin-left: 10px;
        float: right; }
  .media-wrap.media-list-view .media {
    margin: 30px 0; }
    .media-wrap.media-list-view .media .media-left img {
      width: 200px; }
    .media-wrap.media-list-view .media .media-body p {
      text-indent: 30px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      line-height: 20px;
      max-height: 60px;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical; }
    .media-wrap.media-list-view .media .media-body .media-date {
      float: left;
      margin-right: 20px;
      font-weight: 700;
      margin-top: 3px; }
    .media-wrap.media-list-view .media .media-body .media-heading {
      font-weight: 700;
      font-size: 20px; }

.media-wrap {
  padding: 30px;
  margin: 0; }
  .media-wrap.media-full-view {
    max-width: 600px;
    margin: 0 auto; }
  .media-wrap.media-list-view .media {
    margin: 30px 0; }
    .media-wrap.media-list-view .media .media-left img {
      width: 200px; }
    .media-wrap.media-list-view .media .media-header {
      margin-bottom: 40px; }
      .media-wrap.media-list-view .media .media-header .media-date {
        font-weight: 700; }
      .media-wrap.media-list-view .media .media-header .media-heading {
        font-size: 24px;
        font-weight: 700; }
    .media-wrap.media-list-view .media .media-body p {
      text-indent: 30px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      line-height: 20px;
      max-height: 60px;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical; }
    .media-wrap.media-list-view .media .media-body .media-date {
      float: left;
      margin-right: 20px;
      font-weight: 700;
      margin-top: 3px; }
    .media-wrap.media-list-view .media .media-body .media-heading {
      font-weight: 700;
      font-size: 20px; }

.seat-preview {
  padding-left: 8px;
  padding-right: 8px;
  border: 2px solid #aeaeae; }
  .seat-preview__color-choice {
    float: right;
    margin: 0;
    padding: 0;
    display: block;
    width: 100%; }
    .seat-preview__color-choice li {
      font-size: 12px;
      float: left;
      list-style: none;
      margin: 7px; }
  .seat-preview__title {
    margin-left: -8px;
    margin-right: -8px;
    background-color: #aeaeae; }
    .seat-preview__title h4 {
      font-size: 14px;
      font-weight: 700;
      color: #333333;
      padding: 10px 20px;
      margin-top: 0; }
  .seat-preview__table table {
    border-collapse: separate;
    border-spacing: 5px;
    border: 0; }
    .seat-preview__table table tbody tr td {
      position: relative;
      background-color: #333333;
      font-size: 12px;
      text-align: center;
      color: #ffffff;
      cursor: pointer;
      border-color: transparent; }
      .seat-preview__table table tbody tr td.active {
        background-color: #333333;
        cursor: pointer;
        border: 1px solid #000000;
        box-shadow: 0 0 0 2px #000000 inset; }
      .seat-preview__table table tbody tr td .box-status {
        position: absolute;
        top: 0;
        left: 0;
        width: 10px;
        height: 10px;
        margin-top: 2px;
        margin-left: 2px;
        background-color: red; }
        .seat-preview__table table tbody tr td .box-status.is-occupied {
          background-color: #ff541a; }
        .seat-preview__table table tbody tr td .box-status.is-vacant {
          background-color: #999999; }

.sm-box {
  height: 15px;
  width: 15px;
  line-height: 15px;
  display: block;
  background-color: #333333;
  margin-right: 6px;
  float: left;
  margin-top: 1px; }
  .sm-box.is-occupied {
    background-color: #ff541a; }
  .sm-box.is-vacant {
    background-color: #999999; }

.bootstrap-datetimepicker-widget .timepicker .timepicker-picker td {
  width: 20px;
  height: 20px;
  line-height: 20px;
  margin: 0; }
  .bootstrap-datetimepicker-widget .timepicker .timepicker-picker td [class="btn"] span {
    width: 20px;
    height: 20px;
    line-height: 20px;
    margin: 0;
    color: #333333; }
  .bootstrap-datetimepicker-widget .timepicker .timepicker-picker td [data-action="togglePeriod"] {
    background-color: #333333;
    border: 0;
    border-radius: 0; }

.add-leg .add-leg__header {
  padding: 7px 20px;
  background-color: #999999;
  color: #ffffff; }

.add-leg .add-leg__body {
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid #999999;
  border-top: none;
  margin-bottom: 15px; }
  .add-leg .add-leg__body .form-group:last-child {
    margin-bottom: 30px; }

.hr-custom {
  margin-top: 35px;
  border-top-color: #666666; }

.inner-header {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #fd5822; }
  .inner-header__title {
    font-size: 16px;
    color: #ffffff;
    padding: 8px 15px;
    margin: 0; }

.radio.radio--adj {
  padding-top: 0;
  padding-left: 15px; }

.radio .radio__label {
  font-size: 12px;
  padding-left: 15px; }

.radio .radio__btn {
  margin-left: -15px; }

.checkbox.checkbox--padding {
  padding-top: 2px; }

.checkbox.checkbox--adj {
  padding-top: 0;
  padding-left: 15px; }

.checkbox .checkbox__label {
  font-size: 12px;
  padding-left: 20px; }

.checkbox .checkbox__btn {
  margin-left: -15px; }

.oj-leg .oj-leg__title {
  line-height: 12px;
  padding: 9px 12px;
  margin-right: 10px; }

.oj-leg .oj-leg__title--gray {
  background-color: #666666;
  border-color: #666666;
  color: #ffffff; }

.oj-leg .oj-leg__btn {
  font-size: 12px;
  line-height: 12px;
  padding: 8px 12px; }

.oj-leg .oj-leg__body {
  padding-left: 30px;
  padding-right: 30px; }

.checkbox-fields.form-group {
  margin-bottom: 30px; }
  .checkbox-fields.form-group:last-child {
    margin-bottom: 30px; }

.checkbox-fields .checkbox-fields__label {
  text-align: left;
  font-weight: 500; }

.checkbox-fields .checkbox-fields__check {
  margin-left: 20px;
  margin-right: 5px;
  margin-top: 2px; }

.checkbox-fields .checkbox-fields__textbox--date {
  max-width: 70px; }

.checkbox-fields .checkbox-fields__date {
  padding-right: 0; }

.checkbox-fields .checkbox-fields__dropdown.form-control {
  width: auto; }
  .checkbox-fields .checkbox-fields__dropdown.form-control:disabled + button.btn {
    background-color: red !important; }

.checkbox-fields .btn.btn-default ~ .selectpicker:disabled {
  background-color: red !important; }

.checkbox-fields .checkbox-fields__label--margin {
  margin-left: 5px;
  margin-right: 5px; }
  .checkbox-fields .checkbox-fields__label--margin:first-child {
    margin-left: 16px; }

.checkbox-fields .checkbox-fields__textbox--margin-right {
  margin-right: 5px; }

.checkbox-fields .checkbox-fields__textbox-icons {
  right: 0; }

.checkbox-fields .checkbox-fields__feedback {
  float: left; }

.checkbox-fields .form-group {
  margin-bottom: 0; }

.oj-notify {
  position: relative;
  margin-left: 15px;
  margin-right: 15px; }
  .oj-notify__list {
    margin-top: 10px; }
  .oj-notify__icon {
    float: left;
    margin-top: -3px;
    margin-right: 6px; }
  .oj-notify .close {
    position: absolute;
    top: 10px;
    right: 5px;
    color: #333333;
    margin-top: -9px;
    text-shadow: none;
    opacity: 1; }
  .oj-notify.alert-danger {
    background-color: #ff3334;
    color: #ffffff; }
    .oj-notify.alert-danger .close {
      color: #ffffff; }
  .oj-notify.alert-success {
    background-color: #34cc67;
    color: #333333; }
  .oj-notify.alert-warning {
    background-color: #F5D700;
    color: #333333; }

.oj-seats {
  margin-bottom: 0;
  margin-top: 8px; }
  .oj-seats__list {
    font-size: 11px; }
  .oj-seats__box {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
    margin-bottom: -2px; }

.user-matrix__main {
  margin-top: 30px; }

.user-matrix__title {
  font-size: 12px; }

.user-matrix__modules {
  display: none; }
  .user-matrix__modules.default {
    display: block; }

.user-matrix .user-matrix--border-top {
  border-top: 1px solid #666666; }

.user-matrix [type="checkbox"] {
  margin: 2px 0 0; }

.user-matrix thead tr th {
  border: 0;
  font-size: 12px; }

.user-matrix tbody tr:first-child {
  border-top: 1px solid #666666; }

.user-matrix tbody tr td {
  border: 0;
  font-size: 12px; }
  .user-matrix tbody tr td.user-matrix--checkboxs .checkbox-inline {
    padding-top: 2px; }

.checkbox-wrapper {
  width: 100%;
  display: inline-block;
  position: relative; }
  .checkbox-wrapper.three-column .checkbox-inline {
    width: 28%;
    font-size: 12px;
    white-space: nowrap; }
    .checkbox-wrapper.three-column .checkbox-inline:first-child {
      width: 100%;
      margin-bottom: 14px; }
  .checkbox-wrapper .checkbox-inline .input[type="checkbox"] {
    margin-top: inherit; }

.table-form thead {
  background-color: #cccccc; }
  .table-form thead tr th {
    padding: 15px 15px;
    border-bottom-color: #cccccc;
    text-align: center; }
    .table-form thead tr th:first-child {
      text-align: left; }

.table-form tbody tr td, .table-form tbody tr th {
  padding-left: 15px;
  padding-right: 15px;
  text-align: center; }

.table-form tbody tr th {
  text-align: left; }

.modal-form {
  margin-left: 20px;
  margin-right: 20px;
  border-bottom: 1px solid #999999; }

.fare-per-leg {
  padding-left: 10px; }
  .fare-per-leg li {
    font-size: 12px; }
  .fare-per-leg span:first-child {
    margin-right: 10px; }

.restricted-page {
  display: table;
  height: 300px;
  width: 100%;
  text-align: center; }
  .restricted-page__body {
    display: table-cell;
    vertical-align: middle; }
    .restricted-page__body h2 {
      line-height: 50px; }

.swap-vessel__item {
  padding: 8px;
  margin: 0;
  display: block;
  height: 100%;
  width: 100%;
  cursor: pointer;
  background-color: blue; }

.swap-vessel__checkbox:checked + .swap-vessel__item {
  background-color: green;
  box-shadow: 0 0 0 2px #000000 inset; }

.swap-vessel__table table {
  border-collapse: separate;
  border-spacing: 5px;
  border: 0; }
  .swap-vessel__table table tbody tr td {
    overflow: hidden;
    position: relative;
    background-color: #333333;
    padding: 0;
    font-size: 12px;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
    border-color: transparent; }
    .swap-vessel__table table tbody tr td.active {
      background-color: #333333;
      cursor: pointer;
      border: 1px solid #000000;
      box-shadow: 0 0 0 2px #000000 inset; }
    .swap-vessel__table table tbody tr td [type="checkbox"] {
      position: absolute;
      left: -10000px; }
    .swap-vessel__table table tbody tr td .box-status {
      position: absolute;
      top: 0;
      left: 0;
      width: 10px;
      height: 10px;
      margin-top: 2px;
      margin-left: 2px;
      background-color: red; }
      .swap-vessel__table table tbody tr td .box-status.is-occupied {
        background-color: #ff541a; }
      .swap-vessel__table table tbody tr td .box-status.is-vacant {
        background-color: #999999; }

.swap-vessel .nav-tabs {
  border-bottom: 0; }
  .swap-vessel .nav-tabs .active {
    background: none; }
  .swap-vessel .nav-tabs > li.active a {
    background-color: #aeaeae;
    font-weight: 700; }
  .swap-vessel .nav-tabs > li > a {
    font-weight: 16px;
    font-weight: 300;
    color: #333333;
    background-color: #cccccc;
    padding: 7px 11px;
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid #aeaeae; }
    .swap-vessel .nav-tabs > li > a:hover, .swap-vessel .nav-tabs > li > a:focus {
      color: #333333;
      background-color: #aeaeae;
      border: 0;
      border-bottom: 1px solid #aeaeae; }

.select2.select2-container--default .select2-selection--multiple {
  border-radius: 0; }
