/*
body.modal-open,
.modal-open .navbar-fixed-top,
.modal-open .navbar-fixed-bottom {
    margin-right: 17px;
    margin-right: 0 // fix;
}
*/

.margin-dialog.modal-open {
	margin-right: 17px;
}

.textToUpper {
    text-transform: uppercase;
}

.textToLower {
    text-transform: lowercase;
}

::-webkit-input-placeholder { /* WebKit browsers */
    text-transform: none;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    text-transform: none;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    text-transform: none;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    text-transform: none;
}