footer {
  min-width: $screen-tablet;
  height: 30px;
  background-color: $dark;
  position: relative;
  z-index: 20;
  .container-fluid {
    p {
      text-align: center;
      color: $white;
      font-size: 11px;
      margin: 7px 0;
    }
  }
}