<div class="container">
	<!-- INITIAL DETAILS -->
  <div class="row">
  	<div class="col-xs-12 col-sm-12">
  		<div class="container">
  			<div class="row">
  				<div class="col-xs-12 col-sm-4">
			  		<note>Note:</note>
			  		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. </p>
			  		<a href="#" class="fn-link">Proceed to Payment Gateway</a>
			  		<h1>Payment Successful</h1>
			  		<a href="#" class="fn-link fn-action">Proceed to Confirmation Page</a>
  				</div>
  			</div>
  		</div>
  	</div>
  </div> <!-- ./ row end -->

</div>