<div class="container">
	<!-- INITIAL DETAILS -->
  <div class="row">
  	<div class="col-xs-12 col-sm-8">
  		<div class="container">
  			<div class="row">
  				<div class="col-xs-12 col-sm-3">
			    	<!-- TRIP TYPE -->
			    	<div class="form-group">
				      <label for="s1_trip_type">Trip Type</label>
				      <select type="text" id="s1_trip_type" class="selectpicker form-control">
				      	<option value="">Roundtrip</option>
				      	<option value="">One Way</option>
				      	<option value="">Multi Leg</option>
				      </select>
				    </div>
			    </div>
			    <div class="col-xs-12 col-sm-3">
			    	<!-- ACCOMODATION TYPE -->
			    	<div class="form-group">
				      <label for="s1_accom_type">Accomodation Type</label>
				      <select type="text" id="s1_accom_type" class="selectpicker form-control">
				      	<option value="">Tourist Class</option>
				      	<option value="">Express</option>
				      	<option value="">Deluxe</option>
				      </select>
				    </div>
			    </div>
			    <div class="col-xs-12 col-sm-2">
			    	<!-- NUMBER OF PASSENGERS -->
			    	<div class="form-group">
				      <label for="s1_passengers">Passengers</label>
				      <select id="s1_passengers" class="selectpicker form-control">
				      	<option value="">1</option>
				      	<option value="">2</option>
				      	<option value="">3</option>
				      	<option value="">4</option>
				      	<option value="">5</option>
				      	<option value="">6</option>
				      	<option value="">7</option>
				      	<option value="">8</option>
				      	<option value="">9</option>
				      	<option value="">10</option>
				      	<option value="">11</option>
				      	<option value="">12</option>
				      	<option value="">13</option>
				      	<option value="">14</option>
				      	<option value="">15</option>
				      	<option value="">16</option>
				      	<option value="">17</option>
				      	<option value="">18</option>
				      	<option value="">19</option>
				      	<option value="">20</option>
				      	<option value="">21</option>
				      	<option value="">22</option>
				      	<option value="">23</option>
				      	<option value="">24</option>
				      	<option value="">25</option>
				      	<option value="">26</option>
				      	<option value="">27</option>
				      	<option value="">28</option>
				      	<option value="">29</option>
				      	<option value="">30</option>
				      </select>
				    </div>
			    </div>
  			</div> <!-- ./ row end -->
  		</div> <!-- ./ contianer end -->
  	</div>
  </div>

  <!-- LEG DETAILS -->
  <div class="row">
    <div class="col-xs-12 col-sm-8">
    	<div class="container">
    		<div class="row">
    			<div class="col-xs-12 col-sm-3">
    				<!-- ORIGIN -->
    				<div class="form-group">
    					<label for="s1_origin">Origin</label>
    					<select name="" id="s1_origin" class="form-control selectpicker">
    						<option value="">CEBU</option>
    						<option value="">MANILA</option>
    						<option value="">CAGAYAN DE ORO</option>
    					</select>
    				</div>
    			</div>
    			<div class="col-xs-12 col-sm-3">
    				<!-- DESTINATION -->
    				<div class="form-group">
    					<label for="s1_destination">Destination</label>
    					<select name="" id="s1_destination" class="form-control selectpicker">
    						<option value="">ORMOC</option>
    						<option value="">CEBU</option>
    						<option value="">BOHOL</option>
    					</select>
    				</div>
    			</div>
    		</div>
    		<div class="row">
    			<div class="col-xs-12 col-sm-3">
    				<!-- DEPARTURE DATE -->
    				<div class="form-group">
    					<label for="s1_dept_date">Departure Date</label>
    					<input type="data" name="" id="s1_dept_date" class="form-control" placeholder="MM / DD / YYYY" />
    				</div>
    			</div>
    			<div class="col-xs-12 col-sm-3">
    				<!-- DEPARTURE TIME -->
    				<div class="form-group">
    					<label for="s1_dept_time">Departure Time</label>
    					<input type="time" name="s1_dept_time" id="" class="form-control" placeholder="HH:MM AM" />
    				</div>
    			</div>
    		</div>
    		<div class="row">
    			<div class="col-xs-12 col-sm-3">
    				<!-- RETURN DATE -->
    				<div class="form-group">
    					<label for="s1_return_date">Return Date</label>
    					<select name="" id="s1_return_date" class="form-control" placeholder="MM / DD / YYYY" />
    				</div>
    			</div>
    			<div class="col-xs-12 col-sm-3">
    				<!-- RETURN TIME -->
    				<div class="form-group">
    					<label for="s1_return_time">Return Time</label>
    					<input type="time" name="" id="s1_return_time" class="form-control" placeholder="HH:MM AM" />
    				</div>
    			</div>
    		</div>

    		<div class="row">
    			<div class="col-xs-12 col-sm-6">
    				<!-- FARE -->
    				<div class="form-group">
    					<label for="s1_fare">Select Fare</label>
    					<select name="" id="s1_fare" class="form-control selectpicker">
    						<option value="">P 1,600.00 CEBU > ORMOC / ROUND TRIP / TOURIST CLASS</option>
    						<option value="">P 2,500.00 MANILA > CEBU / ROUND TRIP / FIRST CLASS</option>
    					</select>
    				</div>
    			</div>
    		</div>
    	</div> <!-- ./ Container end -->
    </div>
    <div class="col-xs-12 col-sm-4">affixed side panel</div>
  </div> <!-- ./ row end -->

</div>