<div class="container">
	<!-- INITIAL DETAILS -->
  <div class="row">
  	<div class="col-xs-12 col-sm-8">
  		<h1>Thank You!</h1>
		<h3 class="bms-stitle">Here is your payment detail</h3>
		
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-6">
					<p class="bms-detail">
						<p class="bms-detail-label">Payment Method</p>
						<p class="bms-detail-value">Credit Card</p>
					</p>
					<p class="bms-detail">
						<p class="bms-detail-label">Card Type</p>
						<p class="bms-detail-value">Visa</p>
					</p>
					<p class="bms-detail">
						<p class="bms-detail-label">Amount</p>
						<p class="bms-detail-value">P 1,600.00</p>
					</p>
				</div>
			</div>
		</div>

		
  		<h3 class="bms-stitle">Voyage Summary</h3>
  		<div class="container">
  			<div class="row">
  				<div class="col-xs-12 col-sm-3">
			    	<!-- TRIP TYPE -->
			    	<div class="form-group">
				      <label for="s1_trip_type">Trip Type</label>
				      <p class="bms-class">Round Trip</p>
				    </div>
			    </div>
			    <div class="col-xs-12 col-sm-3">
			    	<!-- ACCOMODATION TYPE -->
			    	<div class="form-group">
				      <label for="s1_accom_type">Accomodation Type</label>
				      <p class="bms-class">Tourist Class</p>
				    </div>
			    </div>
			    <div class="col-xs-12 col-sm-2">
			    	<!-- NUMBER OF PASSENGERS -->
			    	<div class="form-group">
				      <label for="s1_passengers">Passengers</label>
				      <p class="bms-detail">5</p>
				    </div>
			    </div>
  			</div> <!-- ./ row end -->
  		</div> <!-- ./ contianer end -->
		

		<!-- LEG DETAILS -->
		<div class="container">
    		<div class="row">
    			<div class="col-xs-12 col-sm-3">
    				<!-- ORIGIN -->
    				<div class="form-group">
    					<label for="s1_origin">Origin</label>
    					<p class="bms-detail">CEBU</p>
    				</div>
    			</div>
    			<div class="col-xs-12 col-sm-3">
    				<!-- DESTINATION -->
    				<div class="form-group">
    					<label for="s1_destination">Destination</label>
    					<p class="bms-detail">MANILA</p>
    				</div>
    			</div>
    		</div>
    		<div class="row">
    			<div class="col-xs-12 col-sm-3">
    				<!-- DEPARTURE DATE -->
    				<div class="form-group">
    					<label for="s1_dept_date">Departure Date</label>
    					<p class="bms-detail">01 / 25 / 2016</p>
    				</div>
    			</div>
    			<div class="col-xs-12 col-sm-3">
    				<!-- DEPARTURE TIME -->
    				<div class="form-group">
    					<label for="s1_dept_time">Departure Time</label>
    					<p class="bms-detail">10:30 AM</p>
    				</div>
    			</div>
    		</div>
    		<div class="row">
    			<div class="col-xs-12 col-sm-3">
    				<!-- RETURN DATE -->
    				<div class="form-group">
    					<label for="s1_return_date">Return Date</label>
    					<p class="bms-detail">01 / 30 / 2016</p>
    				</div>
    			</div>
    			<div class="col-xs-12 col-sm-3">
    				<!-- RETURN TIME -->
    				<div class="form-group">
    					<label for="s1_return_time">Return Time</label>
    					<p class="bms-detail">10:30PM</p>
    				</div>
    			</div>
    		</div>

    		<div class="row">
    			<div class="col-xs-12 col-sm-6">
    				<!-- FARE -->
    				<div class="form-group">
    					<label for="s1_fare">Select Fare</label>
    					<p class="bms-detail">P 1,600.00 CEBU &gt; ORMOC / ROUND TRIP / TOURIST CLASS</p>
    				</div>
    			</div>
    		</div>


    		<div class="row">
			  	<div class="col-xs-12 col-sm-3">
			  		<!-- LAST NAME -->
			    	<div class="form-group">
				      <label for="s2_lastname">Last Name</label>
				      <p class="bms-detail">Uson</p>
				    </div>
			  	</div>
			  	<div class="col-xs-12 col-sm-3">
			  		<!-- FIRST NAME -->
			    	<div class="form-group">
				      <label for="s2_firstname">First Name</label>
				      <p class="bms-detail">Melody</p>
				    </div>
			  	</div>
			  	<div class="col-xs-12 col-sm-3">
			  		<!-- MIDDLE NAME -->
			    	<div class="form-group">
				      <label for="s2_middlename">Middle Name</label>
				      <p class="bms-detail">Agnes</p>
				    </div>
			  	</div>
			  </div>
			  <div class="row">
			  	<div class="col-xs-12 col-sm-3">
			  		<!-- BIRTH DATE -->
			    	<div class="form-group">
				      <label for="s2_birthdate">Birth Date</label>
				      <p class="bms-detail">07 / 02 / 1981</p>
				    </div>
			  	</div>
			  	<div class="col-xs-12 col-sm-3">
			  		<!-- GENDER -->
			    	<div class="form-group">
				      <label for="s2_gender">Gender</label>
				      <p class="bms-detail">Female</p>
				    </div>
			  	</div>
			  	<div class="col-xs-12 col-sm-3">
			  		<!-- NATIONALITY -->
			    	<div class="form-group">
				      <label for="s2_nationality">Nationality</label>
				      <p class="bms-detail">Filipino</p>
				    </div>
			  	</div>
			  </div>
			  <div class="row">
			  	<div class="col-xs-12 col-sm-3">
			  		<!-- MOBILE NUMBER -->
			    	<div class="form-group">
				      <label for="s2_mobile">Mobile Number</label>
				      <p class="bms-detail">+63935 298 5584</p>
				    </div>
			  	</div>
			  	<div class="col-xs-12 col-sm-3">
			  		<!-- EMAIL ADDRESS -->
			    	<div class="form-group">
				      <label for="s2_email">Email Address</label>
				      <p class="bms-detail">mito.jan_arvin@yahoo.com</p>
				    </div>
			  	</div>
			  </div>
    	</div> <!-- ./ Container end -->
		<!-- ./ LEG DETAILS -->
  	</div>
  </div> <!-- ./ row end -->

</div>