<div class="container">
	<!-- INITIAL DETAILS -->
  <div class="row">
  	<div class="col-xs-12 col-sm-8">
  		<div class="container">
  			<div class="row">
  				<div class="col-xs-12 col-sm-3">
			    	<!-- I AM TRAVELLING  -->
			    	<div class="form-group">
				      <label for="s1_trip_type">I am travelling!</label>
				    </div>
			    </div>
			    <div class="col-xs-12 col-sm-3">
			    	<!-- JETTER MEMBERSHIP NO. -->
			    	<div class="form-group">
				      <label for="s1_accom_type">Jetter Membership No.</label>
				      <input type="text" id="s1_accom_type" class="form-control" value="JMN012987" />
				    </div>
			    </div>
			    <div class="col-xs-12 col-sm-3">
			    	<!-- USE POINTS? -->
			    	<div class="form-group">
			    		<label for="">Use Points?</label>
			    	</div>
			    </div>
			    <div class="col-xs-12 col-sm-2">
			    	<!-- TRAVEL FREE -->
			    	<div class="form-group">
				      <label for="s1_passengers">Travel Free!</label>
				    </div>
			    </div>
  			</div> <!-- ./ row end -->
  		</div> <!-- ./ contianer end -->
  	</div>
  </div> <!-- ./ row end -->


</div>

<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<div class="container">
				<div class="row">
				  	<div class="col-xs-12 col-sm-3">
				  		<!-- LAST NAME -->
				    	<div class="form-group">
					      <label for="s2_lastname">Last Name</label>
					      <input type="text" id="s2_lastname" class="form-control" value="Uson" />
					    </div>
				  	</div>
				  	<div class="col-xs-12 col-sm-3">
				  		<!-- FIRST NAME -->
				    	<div class="form-group">
					      <label for="s2_firstname">First Name</label>
					      <input type="text" id="s2_firstname" class="form-control" value="Melody" />
					    </div>
				  	</div>
				  	<div class="col-xs-12 col-sm-3">
				  		<!-- MIDDLE NAME -->
				    	<div class="form-group">
					      <label for="s2_middlename">Middle Name</label>
					      <input type="text" id="s2_middlename" class="form-control" value="Agnes" />
					    </div>
				  	</div>
				  </div>
				  <div class="row">
				  	<div class="col-xs-12 col-sm-3">
				  		<!-- BIRTH DATE -->
				    	<div class="form-group">
					      <label for="s2_birthdate">Birth Date</label>
					      <input type="text" id="s2_birthdate" class="form-control" value="Agnes" />
					    </div>
				  	</div>
				  	<div class="col-xs-12 col-sm-3">
				  		<!-- GENDER -->
				    	<div class="form-group">
					      <label for="s2_gender">Gender</label>
					      <input type="text" id="s2_gender" class="form-control" value="Agnes" />
					    </div>
				  	</div>
				  	<div class="col-xs-12 col-sm-3">
				  		<!-- NATIONALITY -->
				    	<div class="form-group">
					      <label for="s2_nationality">Nationality</label>
					      <input type="text" id="s2_nationality" class="form-control" value="Filipino" />
					    </div>
				  	</div>
				  </div>
				  <div class="row">
				  	<div class="col-xs-12 col-sm-3">
				  		<!-- MOBILE NUMBER -->
				    	<div class="form-group">
					      <label for="s2_mobile">Mobile Number</label>
					      <input type="text" id="s2_mobile" class="form-control" value="0921 594 2523" />
					    </div>
				  	</div>
				  	<div class="col-xs-12 col-sm-3">
				  		<!-- EMAIL ADDRESS -->
				    	<div class="form-group">
					      <label for="s2_email">Email Address</label>
					      <input type="text" id="s2_email" class="form-control" value="mito.jarvin@yahoo.com" />
					    </div>
				  	</div>
				  </div>
			</div>
		</div>
	</div>
  
</div>