<div class="container">
    <div class="row">
        <!-- BOOKING -->
        <div class="bms-page-header-steps active"><span class="step">1</span><span class="text">Voyage Details</span></div>
        <div class="bms-page-header-steps"><span class="step">2</span><span class="text">Passenger Details</span></div>
        <div class="bms-page-header-steps"><span class="step">3</span><span class="text">Voyage Summary</span></div>
        <div class="bms-page-header-steps"><span class="step">4</span><span class="text">Payment</span></div>
        <div class="bms-page-header-steps"><span class="step">5</span><span class="text">Confirmation</span></div>
        <!-- OTHER PAGE -->
        <!-- <h3 class="container">My Profile</h3> -->
    </div>
</div>
