
$dark : #333333;
$darkgray : #666666;

$light : #eeeeee;
$white : #fefefe;
$gray : #c6c6c6;
$grayDark : $dark;
$grayDarker : #151515;

$flatRed : #F04B4C;
$flatRedDark : #EE3131;

$flatGreen : #006633;

$flatBlue : #3D6098;
$flatBlueDark : #38578B;