//Add Leg

.add-leg {
//  @extend %normal-shadow;
//  border: 1px solid $dark;
  .add-leg__header {
    padding: 7px 20px;
    background-color: $gray;
    color: $white;
  }
  .add-leg__body {
//    background-color: red;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid $gray;
    border-top: none;
    margin-bottom: 15px;
    .form-group {
      &:last-child {
        margin-bottom: 30px;
      }
    }
  }
  
}
.add-leg-btn {

}