.checkbox-wrapper {
  width: 100%;
  display: inline-block;
  position: relative;
  &.three-column {
    .checkbox-inline {
      width: 28%;
      font-size: 12px;
      white-space: nowrap;
      &:first-child {
        width: 100%;
        margin-bottom: 14px;
      }
    }
  }
  .checkbox-inline {
    .input[type="checkbox"] {
      margin-top: inherit;
    }
    //      width: 50%;
    //      text-align: left;
    //      padding: 0;
    //      padding-left: 40px;
    //      margin: 0;
    //      margin-bottom: 10px;
    //      float: left;
  }
}