.checkbox {
  &.checkbox--padding{
    padding-top: 2px;
  }
  &.checkbox--adj {
    padding-top: 0;
    padding-left: 15px;
  }
  .checkbox__label {
    font-size: 12px;
    padding-left: 20px;
  }
  .checkbox__btn {
    margin-left: -15px;
  }
}