.checkbox-fields {
  &.form-group {
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 30px;
    }
  }
  .checkbox-fields__label {
    text-align: left;
    font-weight: 500;
  }
  .checkbox-fields__check {
    margin-left: 20px;
    margin-right: 5px;
    margin-top: 2px;
  }
  .checkbox-fields__textbox {}
  .checkbox-fields__textbox--date {
    max-width: 70px;
  }
  .checkbox-fields__date {
    padding-right: 0;
  }
  .checkbox-fields__dropdown.form-control {
    width: auto;
    &:disabled + button.btn{
      background-color: red!important;
//      & ~ button.btn{
//        background-color: red!important;
//      }
    }
  }
  
  .btn.btn-default ~ .selectpicker:disabled{
    background-color: red!important;
  }
//    .btn.btn-default{
//    background-color: red!important;
//  }
  .checkbox-fields__label--margin {
    margin-left: 5px;
    margin-right: 5px;
    &:first-child {
      margin-left: 16px;
    }
  }
  .checkbox-fields__textbox--margin-right {
    margin-right: 5px;
  }
  .checkbox-fields__textbox-icons {
    right: 0;
  }
  .checkbox-fields__feedback {
    float: left;
  }
  
  .form-group {
    margin-bottom: 0;
  }
}