



.dataTables_wrapper{
  .row:first-child{
    display:none;
  }

  .row:nth-child(2){
    overflow:hidden;
    min-height:300px;

    &:after, &:before{
      display:none;
    }
  }

  .row:last-child{
    margin:0 20px;
    padding:0;
    border-top:1px solid $footer-border-bg;

    [class^="col-"]{
      padding:0;
    }
  }
}

table.dataTable{
  margin-top:0 !important;
  margin-bottom:0 !important;
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}

.global-table {
  background-color: $dtable-bg;
  
  thead {
    border-bottom:1px solid $thead-border-bg;
    background-color:$thead-bg;

    tr {
      th {
        border: 0;
        &:after {
          font-size: 10px;
        }
        &.sorting:after {
          content: '\e252'
        }
        &.sorting_asc:after {
          content: '\e252'
        }
        &.sorting_desc:after {
          content: '\e253'
        }
        &.no-sort {
          &:after {
            display: none;
          }
        }
        &.no-sort.sorting_asc {
          cursor: default;
          &:after {
          display: none;
          
        }
        }
      }
    }
  }
  tbody {
    tr {
      &:hover{
        background-color:$tbody-hover-bg;
      }
      td {
        border: 0;
      }
    }
  }

  tbody, thead{
    font-size:12px;
    font-weight:normal;
  }

  th{
    padding:10px 8px !important;
    &:after{
      bottom:10px !important;
    }
  }
  th, td{
    text-align:center;
    vertical-align:middle !important;

    & > a{
      display:inline-block;
      padding:0 4px;
      border-bottom:3px solid transparent;
      text-decoration:none;
      color:$deepdark;
      &:hover{
        border-bottom:3px solid $deepdark;
      }
    }
  }
}

.dataTables_info, .dataTables_paginate{
  padding:10px 0 15px 0;
}

.dataTables_info, .dataTables_length, .dataTables_filter{
  display:none;
}

.dataTables_paginate{
  .previous, .next{
    display:none;
  }

  ul li, span{
    & > a{
      margin-left:4px;
      background-color:$tbody-hover-bg;
      font-size:11px;
      color:$dark;
      border:none;
      cursor:pointer !important;
      padding:6px 12px;
      display:inline-block;
      @extend %text-reset;
    }

    &.active a, a.current, a.paginate_button:hover, a:hover, a:active{
      color:$dtable-bg !important;
      background-color:$footer-page-link-active !important;
    }
  }
}