//Table Header
.table-header-custom {
  // width:100%;
    height: 64px;
  padding: 15px 0;
  margin-bottom: 0px!important;

  // overflow:hidden;
  .search-table {
    min-width: 250px;
  }
  &:before,
  &:after {
    display: none;
  }
  .hide-filter {
    .form-inline {
      .forms-hide {
        margin-left: 20px;
        display: none;
        .has-feedback {
          margin-right: 10px;
          .oj-time-picker {
            margin-left: 10px;
          }
        }
      }
    }
    [data-action="togglePeriod"] {
      background-color: red;
    }
  }
  &.table-header-double {
    height: 114px;
    .btm-header {
      margin-top: 15px;
      .btn-oj-group {
        //        margin-left: 0;
      }
    }
  }
  .label-adj-v1 {
    //    width: 90px;
    //    margin-left: 20px;
  }
  .label-adj-v2 {
    //    width: 85px;
    //    margin-left: 20px;
  }
}

.table-header-adv {
  padding: 15px;
  >[class*="col"] {
    margin-bottom: 15px;
    &:last-child {
      margin-bottom: 0;
      >.btn-oj-group {
        margin-bottom: 0;
      }
    }
    &.hide-filter {
      .form-inline {
        .forms-hide {
          margin-left: 10px;
          display: none;
          .has-feedback {
            margin-right: 5px;
            .oj-date-picker {
              margin-left: 5px;
            }
          }
          .oj-date-picker {
            min-width: inherit;
            width: 135px;
            padding-right: 30px;
          }
        }
      }
      [data-action="togglePeriod"] {
        background-color: red;
      }
    }
  }
  .label-adj-v1 {
    margin-right: 5px;
  }
  .label-adj-v2 {
//    width: 85px;
//    margin-left: 105px;
  }
}

.forms-hide {
  margin-left: 20px;
  display: none;
}