.oj-form {
  padding: 30px 15px;
  
  .oj-form__title {
    margin-bottom: 20px;
    margin-top: 40px;
    font-weight: 700;
    &--margin-10-btm {
      margin-bottom: 10px;
    }
  }
  .form-group {
    margin-bottom: 20px;
    &--no-margin-bottom {
      margin-bottom: 0;
    }

    .control-label {
      margin-bottom: 5px;
      font-size: 12px;
//      font-weight: normal;
      &.control-label--bold {
        font-weight: bold;
      }
      &.control-label--full-width {
        display: block;
        text-align: left;
      }
    }
    .input-notes-top {
      clear: both;
      display: inline-block;
      white-space: nowrap;
      font-size: 10px;
      margin-left: 10px;
      position: absolute;
      top: 9px;
      right: 15px;
      color: $gray;
    }
    .input-notes-bottom {
      clear: both;
      display: inline-block;
      white-space: nowrap;
      font-size: 10px;
      margin-left: 10px;
      position: absolute;
      bottom: -15px;
      right: 15px;
      color: $error-text;
      p {
        margin: 0;
      }
    }
    .form-group-time-setup {
      .time-value {
        width: 60%;
        float: left;
        margin-right: 10px;
      }
      .time-period {
        width: calc(40% - 10px);
        float: left;
      }
    }
    #a-upload-file {
      overflow: hidden;
    }
    #a-clear {
      display: none;
      color: $dark;
      font-size: 11px;
      float: right;
      font-weight: 700;
    }
    .form-control-custom {
      font-size: 12px;
      text-align: left;
    }
    
  }
  .oj-form-footer {
    margin-top: 50px;
    margin-bottom: 0px;
    .btn-oj-group {
      padding-top: 20px;
      border-top: 1px solid $footer-border-bg;
    }
  }
  
  
  &.view-details {
    .control-label {
      font-weight: 700;
    }
  }
}

.age-range-wrap {
  width: 100%;
  position: absolute;
  top: 50px;
  left: 15px;
  display: none;
  &.show {
    display: block;
  }
  .form-group {
    &:first-child {
      margin-right: 25px;
    }
    .control-label {
      margin-right: 10px;
    }
  }
  .age-box.form-control {
    width: 70px;
  }
}

.profile-img-wrap {
  .form-group {
    .img-thumbnail {
      width: 150px;
      height: 150px;
    }
    .control-label {
      width: 100%;
      text-align: left;
    }
    .upload-img-wrap {
      input[type="file"] {
        opacity: 0;
        margin: 0;
        padding: 0;
        left: 0;
        top: 0;
        position: absolute;
        cursor: pointer;
        z-index: -1;
      }
      .btn {
        margin-top: 15px;
      }
    }
  }
}

