.accommodation-table {
 // border: 1px solid $dark-gray;
  padding: 10px;
  //  max-height: 300px;
  //  overflow-y: auto;
  //  padding: 10px;
  
  &.accommodation-table--no-border {
    border: 0;
    table {
      thead {
        width: 100%;
        tr {
          th {
            &:first-child {
              text-align: left;
            }
          }
        }
      }
    }
  }
  table {
    
    thead {
      width: 97%;
      display: block;
      tr {
        display: block; 
        th {
          text-align: center;
          display: block;
          float: left;
          border-bottom-width: 0;
          font-size: 12px;
          line-height: 12px;
        }
      }
    }
    tbody {
      border-top: 1px solid $dark;
//      height: 230px;
//      overflow-y: scroll;
//      width: 100%;
//      display: block;
      
      &.accommodation-table--height-auto {
        height: auto;
        overflow-y: auto;
        tr {
          td {
            line-height: 17px;
            height: auto;
            &:first-child {
              text-align: left;
            }
            input[type="radio"] {
              margin-top: 2px;
            }
            span {
              line-height: 30px;
            }
          }
        }
      }
      tr {
        display: inline-block;
        width: 100%;
        height: auto;
        &:hover {
          background-color: $semi-white;
        }
        td {
          display: block;
          text-align: center;
          border-top: 0;
          float: left;
          border-bottom-width: 0;
          font-size: 12px;
          line-height: 12px;
//          height: 30px;
          &.table-action-custom{
            height: inherit;
          }
          .not-available {
            font-size: 20px;
          }
          .checkbox-inline {
            padding-top: 0;
            [type="checkbox"] {
              margin-top: 0px;
            }
          }
          &.main-function {
            padding-top: 18px;
            padding-bottom: 18px;
          }
        }
      }
    }
  }
  &.disable-table {
    background-color: $disabled-color;
    //    pointer-events: none;
    cursor: not-allowed;
    table {
      pointer-events: none;
      thead {
        tr {
          th {
            color: $gray;
          }
        }
      }
      tbody {
        tr {
          td {
            color: $gray;
            .oj-lg-button {
              background-color: $gray;
              color: $dark-gray;
            }
          }
        }
      }
    }
  }
}

.btn.custom-btn-test {
  outline: 0;
  border-radius: 0;
  background-color:  transparent;
    display: inline-block;
    padding: 0 4px;
  border: 0;
    border-bottom: 3px solid transparent;
    text-decoration: none;
    color: #232323;
  font-size: 12px;
  &:hover,
  &:focus,
  &:active{
    box-shadow: 0;
    outline: 0;
    border-bottom: 3px solid red;
  }
}


/* box section with gray outline */

.oj-box2 {
  border: 1px solid $light-gray;
  .oj-box2-header {
    padding: 4px 10px;
    background-color: $light-gray;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 15px;
    min-height: 31px;
  }
  .oj-box2-content {
    padding: 15px;
    & > .row:not(:last-child) {
      margin-bottom: 15px;
    }
    &.disabled {
      background-color: $semi-white2;
    }
    // Table containing the seats of a vessel
    .oj-vessel {
      width: 100%;
      tr {
        td {
          border: 6px solid $white;
          padding: 6px 2px;
          font-size: 10px;
          background-color: $gray;
          text-align: center;
          &.unavailable {
            background-color: $dark;
          }
          &.table-action-custom {
            background-color: transparent;
            .not-available {
              font-size: 20px;
            }
          }
        }
      }
    }
    .oj-vessel-none {
      color: $dark-gray;
      font-size: 16px;
      text-align: center;
    }
    /* for Voyage and E-Voucher */
    .cms_box_in_header,
    .cms_box_in_content {
      &.cms_box_in_header {
        border-bottom: 1px solid $gray;
      }
      &.cms_box_in_header,
      &.cms_box_in_content .row {
        margin-bottom: 15px;
      }
      color: $dark;
      padding-bottom:15px;
      [class*="col-"] {
        text-align: center;
        font-size: 12px;
      }
    }
    .cms_box_in_button_group {
      margin: auto;
      width: 200px;
    }
    /* TICKETING STYLES */
    .oj-box2-info {
      border: 15px solid $semi-white2;
      padding: 15px;
      min-height: 100px;
      background-color: $semi-white;
      &.with-header {
        padding: 0;
        & .oj-box2-info-header {
          font-weight: bold;
          font-size: 12px;
          padding: 10px 20px;
          background-color: $super-gray;
        }
        & .oj-box2-info-content {
          padding: 15px;
        }
      }
      span.noinfo {
        font-size: 24px;
        text-align: center;
        display: block;
        line-height: 150px;
        color: $gray;
      }
      .row:not(:last-child) {
        margin-bottom: 15px;
      }
    }
    .table-statistics {
      width: 100%;
      tr td {
        border: 1px solid $gray;
        padding: 10px;
        text-align: center;
        &:first-child {
          width: 40%
        }
      }
    }
    .input-group.radio-group {
      border: 1px solid $gray;
      height: 20px;
      padding: 3px 12px;
      & > input[type="radio"] {
        vertical-align: middle;
        margin: 0 5px 0 0;
      }
      & > label {
        margin-right: 20px;
      }
    }
  }
}


.accommodation-table-v2 {
   font-size: 12px;
  thead {
    tr {
      th {
        font-weight: 300;
        text-align: center;
        &:first-child {
          text-align: left;
        }
      }
    }
  }
  tbody {
    tr {
      td {
        font-weight: 300;
        text-align: center;
      }
    }
  }
}

