.form-group {
  &--padding-side {
    padding-left: 25px;
    padding-right: 25px;
  }
  &__custom {
    .form-group {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  &__footer {
    padding-top: 10px;
    margin-left: 0!important;
    margin-right: 0!important;
    border-top: 1px solid $gray;
  }
}