.form-box {
  min-height: 200px;
  padding: 10px;
  border: 1px solid $dark-gray;
  
  &--blank {
    text-align: center;
    display: table;
    height: 200px;
    width: 100%;
    margin-top: 20px;
    background-color: $disabled-color;
    border: 0;
    .no-selected {
      display: table-cell;
      vertical-align: middle;
      font-size: 28px;
      color: $light-gray3;
    }
  }
  &.form-box--hight-auto {
    height: auto;
    min-height: 0;
  }
  &.no-content {
    
    display: table;
    width: 100%;
    text-align: center;
    .no-selected {
      display: table-cell;
      vertical-align: middle;
      font-size: 28px;
      color: $light-gray3;
    }
  }
  .table-header-custom {
    height: 50px;
    padding-top: 0;
  }
}