.media-wrap {
  padding: 30px;
  margin: 0;
  &.media-full-view {
    max-width: 600px;
    margin: 0 auto;
    
    .media-header {
      margin-bottom: 40px;
      .media-date {
        font-weight: 700;
      }
      .media-heading {
        font-size: 24px;
        font-weight: 700;
      }
    }
    .media-body {
      img {
        margin-bottom: 10px;
        &.left{
          margin-right: 10px;
          float: left;
        }
        &.right {
          margin-left: 10px;
          float: right;
        }
      }
    }
  }
  
  &.media-list-view {
    .media {
    margin: 30px 0;
    .media-left {
      img {
        width: 200px;
      }
    }
    
    .media-body {
      p {
        text-indent: 30px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        line-height: 20px;
        max-height: 60px;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
      }
      .media-date {
        float: left;
        margin-right: 20px;
        font-weight: 700;
        margin-top: 3px;
      }
      .media-heading {
        font-weight: 700;
        font-size: 20px;
      }
    }
  }
  }
  
  

}


.media-wrap {
  padding: 30px;
  margin: 0;
  &.media-full-view {
    max-width: 600px;
    margin: 0 auto;
  }
  &.media-list-view {
    .media {
      margin: 30px 0;
      .media-left {
        img {
          width: 200px;
        }
      }
      .media-header {
        margin-bottom: 40px;
        .media-date {
          font-weight: 700;
        }
        .media-heading {
          font-size: 24px;
          font-weight: 700;
        }
      }
      .media-body {
        p {
          text-indent: 30px;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          line-height: 20px;
          max-height: 60px;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
        }
        .media-date {
          float: left;
          margin-right: 20px;
          font-weight: 700;
          margin-top: 3px;
        }
        .media-heading {
          font-weight: 700;
          font-size: 20px;
        }
      }
    }
  }
}