.modal-message {
  @extend %text-reset;
  font-size: 14px;
  margin-bottom: 20px;
}

.modal-confirmation {
  @extend %text-reset;
  font-size: 18px;
  margin-bottom: 24px;
}


/* change appearance of bootstrap modal */

.modal {
//  top: 10%;
  outline: none;
  .modal-dialog {
    &.modal-sm {
      width: 400px;
    }
    &.modal-lg {
      .modal-content {
        padding: 0;
        text-align: left;
      }
    }
    .modal-content {
      border-radius: 0;
      border: none;
      background-color: $white;
      box-shadow: 0 2px 5px -2px $dark;
      padding: 30px;
      text-align: center;
      border-top: 8px solid $pc-border-color;
      &--no-border {
        border-top: none;
      }
      .modal-header {
        text-align: center;
        border-bottom: 0;
        .close {
          position: absolute;
          top: 2px;
          right: 4px;
          z-index: 3;
          font-size: 30px;
          &:focus {
            box-shadow: none;
            outline: 0;
          }
        }
        &__custom {
          position: relative;
          overflow: hidden;
          background-color: $orange;
          padding: 7px 15px;
          color: $white;
          text-align: left;
          .close {
            position: absolute;
            right: 0;
            top: 0;
            background: $dark;
            width: 50px;
            height: 100%;
            margin-top: 0;
            font-size: 14px;
            font-weight: normal;
            color: $white;
            text-shadow: none;
            opacity: 1;
          }
        }
      }
      .modal-body {}
      .row {
        margin-bottom: 20px;
        [class^="col-"] {
          &,
          & label {
            font-size: 12px;
            text-align: left;
            font-weight: normal;
          }
        }
      }
      .modal-footer {
        border-top: 0px;
        text-align: center;
        &.btn-oj-group {
          .btn {
            min-width: 100px;
          }
        }
      }
    }
  }
  /* override when dataTable is present inside the modal */
  &.with-dataTables .modal-dialog {
    width: 900px;
    .modal-content {
      .modal-header {
        padding: 20px;
      }
      &,
      .modal-body {
        @extend .nopadding;
        .dataTables_paginate {
          margin: 0 15px;
          // border-top:1px solid $gray;
        }
      }
    }
  }
  //Modal Tables
  .modal-table-v1 {
    .modal-content {
      padding-left: 0;
      padding-right: 0;
      .modal-header {
        text-align: left;
      }
      .modal-body {
        padding: 0;
      }
    }
  }
}