.oj-notify {
  position: relative;
  margin-left: 15px;
  margin-right: 15px;
//  strong {
//    font-size: 18px;
//  }

  &__list {
    margin-top: 10px;
  }
  &__icon {
    float: left;
    margin-top: -3px;
    margin-right: 6px;
  }
  .close {
    position: absolute;
    top: 10px;
    right: 5px;
    
    color: $dark;
    
    margin-top: -9px;
    text-shadow: none;
    
    opacity: 1;
    
  }
    &.alert-danger {
    background-color: $oj-error-red;
    color: $white;
    .close {
        color: $white;
      }
    }
  
    &.alert-success {
      background-color: $oj-success-green;
      color: $dark;
    }
  
    &.alert-warning {
  //    background-color: $oj-warning-yellow;
      background-color: #F5D700;
      color: $dark;
    }
}