.oj-leg {
  .oj-leg__title {
    line-height: 12px;
    padding: 9px 12px;
    margin-right: 10px;
  }
  .oj-leg__title--gray {
    background-color: $dark-gray;
    border-color: $dark-gray;
    color: $white;
  }
  .oj-leg__btn {
    font-size: 12px;
    line-height: 12px;
    padding: 8px 12px;
  }
  .oj-leg__body {
    padding-left: 30px;
    padding-right: 30px;
  }
}