.oj-seats {
    margin-bottom: 0;
    margin-top: 8px;
  &__list {
    font-size: 11px;
  }
  &__box {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
    margin-bottom: -2px;
    
  }
}