.page-container {
  padding: 20px;
}

.pdetails-container {
  width: 100%;
  min-height: 300px;
  margin: 20px 0 30px 0;
  padding: 0;
  border-top: 8px solid $pc-border-color;
  box-shadow: 0px 2px 3px 1px $pc-shadow-color;
  background-color: $white;
}

//.pdetails-content {
//  margin: 0;
//  padding: 30px 20px;
//
//  /* Find all time-inputs -- bootstrap input group */
//  .time-input {
//    .row {
//      [class^="col-"]:first-child {
//        padding-right: 0;
//      }
//    }
//  }
//}

.ojnote {
  @extend %text-reset;
  font-size: 11px;
  line-height: 36px;
}



.note {
  width: 100%;
  font-size: 12px;
  &.right {
    text-align: right;
  }
  &.left {
    text-align: left;
  }
}


/* box section with gray background */

.oj-box {
  background-color: $title-bg;
  padding: 15px;
  ul {
    list-style: none;
    @extend .nopadding;
    li {
      font-size: 12px;
    }
  }
}



div.info {
  display: none;
}


/* INITIAL STATE OF INFO */

div.noinfo {
  diplay: block;
}

.ojinput[type="file"] {
  @extend %ojinput-upload;
}

.ojlink {
  color: $dark;
  @extend %text-reset;
  &.disabled {
    color: $gray;
  }
}

.pdetails-footer {
  text-align: right;
  margin: 20px;
  padding: 10px 0 0 0;
  border-top: 1px solid $footer-border-bg;
//  .ojbtn {
//    display: inline-block;
//    width: 80px;
//    font-size: 12px;
//    text-transform: uppercase;
//    background-color: $deepdark;
//    color: $white;
//    padding: 8px 15px;
//    text-align: center;
//    @extend .dark-button;
//    @extend %text-reset;
//  }
  .btn {
    margin-left: 10px;
    min-width: 100px;
  }
}