.restricted-page {
  display: table;
  height: 300px;
  width: 100%;
  text-align: center;
  &__body {
    display: table-cell;
    vertical-align: middle;
    h2 {
        line-height: 50px;
    }
  }
}