//Seat Plan Preview
.seat-preview {
  padding-left: 8px;
  padding-right: 8px;
  border: 2px solid $super-gray;
  &__color-choice {
    float: right;
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    li {
      font-size: 12px;
      float: left;
      list-style: none;
      margin: 7px;
    }
  }
  &__title {
    margin-left: -8px;
    margin-right: -8px;
    background-color: $super-gray;
    h4 {
      font-size: 14px;
      font-weight: 700;
      color: $dark;
      padding: 10px 20px;
      margin-top: 0;
    }
  }
  &__table {
    //  padding-left: 15px;
    //  padding-right: 15px;
    table {
      border-collapse: separate;
      border-spacing: 5px;
      border: 0;
      tbody {
        tr {
          td {
            position: relative;
            background-color: $dark;
            font-size: 12px;
            text-align: center;
            color: $white;
            cursor: pointer;
            border-color: transparent;
            &.active {
              //            background-color: yellow;
              background-color: $dark;
              cursor: pointer;
              border: 1px solid $black;
              box-shadow: 0 0 0 2px $black inset;
            }
            .box-status {
              position: absolute;
              top: 0;
              left: 0;
              width: 10px;
              height: 10px;
              margin-top: 2px;
              margin-left: 2px;
              background-color: red;
              &.is-occupied {
                background-color: #ff541a;
              }
              &.is-vacant {
                background-color: #999999;
              }
            }
          }
        }
      }
    }
    [disabled] {
      //    background: red;
      //    pointer-events: none;
    }
  }
}

.sm-box {
  height: 15px;
  width: 15px;
  line-height: 15px;
  display: block;
  background-color: $dark;
  margin-right: 6px;
  float: left;
  margin-top: 1px;
  &.is-occupied {
    background-color: #ff541a;
  }
  &.is-vacant {
    background-color: #999999;
  }
}