.selectize-control.multi {
  .label {
    color: $dark;
    font-size: 14px;
  }
  
  .selectize-input {
    >div {
      background-color: red;
      >span:not(:first-child) {
          display: none;
        }
      }
    }
}