.sub-navigation {
  ul {
    list-style: none;
    margin: 0;
    margin-top: 35px;
    padding: 0;
    li {
      
      a {
        font-size:12px;
        text-decoration: none;
        color: $dark;
        display: block;
        padding-left: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        border-left-width:5px;
        border-left-style:solid;
        border-left-color:transparent;

        &:hover {
          background-color: $side-nav-hover;
          border-left-color: $side-nav-hover;
        }
      }
      &.active {
        a {
          font-weight: 700;
          background-color: $side-nav-active;
          border-left-color: $orange;
        }
      }
    }
  }
}