.swap-vessel {
  
  &__item {
    padding: 8px;
    margin: 0;
    display: block;
    height: 100%;
    width: 100%;
    cursor: pointer;
    background-color: blue;
  }
  &__checkbox {
    &:checked {
    + .swap-vessel__item {
      background-color: green;
//      border: 1px solid $black;
      box-shadow: 0 0 0 2px $black inset;
    }
  }
  }
  &__table {
    //  padding-left: 15px;
    //  padding-right: 15px;
    table {
      border-collapse: separate;
      border-spacing: 5px;
      border: 0;
      tbody {
        tr {
          td {
            overflow: hidden;
            position: relative;
            background-color: $dark;
            padding: 0;
            font-size: 12px;
            text-align: center;
            color: $white;
            cursor: pointer;
            border-color: transparent;
            &.active {
              //            background-color: yellow;
              background-color: $dark;
              cursor: pointer;
              border: 1px solid $black;
              box-shadow: 0 0 0 2px $black inset;
            }
            
            [type="checkbox"] {
              position: absolute;
              left: -10000px;
              
            }
            .box-status {
              position: absolute;
              top: 0;
              left: 0;
              width: 10px;
              height: 10px;
              margin-top: 2px;
              margin-left: 2px;
              background-color: red;
              &.is-occupied {
                background-color: #ff541a;
              }
              &.is-vacant {
                background-color: #999999;
              }
            }
          }
        }
      }
    }
    [disabled] {
      //    background: red;
      //    pointer-events: none;
    }
  }
  .nav-tabs {
    border-bottom: 0;
    .active {
      background: none;
    }
    > li {
      &.active{
        a {
          background-color: $super-gray;
          font-weight: 700;
        }
      }
      > a {
        font-weight: 16px;
        font-weight: 300;
        color: $dark;
        background-color: $light-gray;
        padding: 7px 11px;
        border-radius: 0;
        border: 0;
        border-bottom: 1px solid $super-gray;
        
        &:hover,
        &:focus{
          color: $dark;
          background-color: $super-gray;
          border: 0;
          border-bottom: 1px solid $super-gray;
        }
        
      }
    }
  }
  
}