.table-form {

  thead {
    background-color: $light-gray;
    tr {
      th {
        padding: 15px 15px;
        border-bottom-color: $light-gray;
        text-align: center;
        &:first-child {
          text-align: left;
        }
      }
    }
  }
  tbody {
    tr {
      td,th {
        padding-left: 15px;
        padding-right: 15px;
        text-align: center;
      }
      th {
        text-align: left;
      }
    }
  }
}