.bootstrap-datetimepicker-widget {
  .timepicker {
    .timepicker-picker {
      td {
        width: 20px;
        height: 20px;
        line-height: 20px;
        margin: 0;
        [class="btn"] {
          span {
            width: 20px;
            height: 20px;
            line-height: 20px;
            margin: 0;
            color: $dark;
          }
        }
        [data-action="togglePeriod"] {
          background-color: $dark;
          border: 0;
          border-radius: 0;
        }
      }
    }
  }
}