.user-matrix {
  &__main {
    margin-top: 30px;
  }
  &__title {
    font-size: 12px;
  }
  
  &__modules {
    display: none;
    &.default {
      display: block;
    }
  }
  .user-matrix--border-top {
    border-top: 1px solid $dark-gray;
//    background-color: red;
  }
  [type="checkbox"]{
    margin: 2px 0 0;
  }
  thead {
    tr {
      th {
        border: 0;
        font-size: 12px;
      }
    }
  }
  tbody {
    
    tr {
      &:first-child {
        border-top: 1px solid $dark-gray;
      }
      td {
        border: 0;
        font-size: 12px;
        &.user-matrix--checkboxs {
          .checkbox-inline {
            padding-top: 2px;
          }
        }
      }
    }
  }
}

//.user-matrix__modules {
//  display: none;
//  &:first-child {
//    display: block;
//  }
//}
