.main-wrapper {
  background-color: $title-bg;
  min-height: 100%;
  min-width: 800px;
  width: 100%;
  margin-bottom: -30px;
  position: relative;
  .container-fluid {
    min-width: $screen-tablet;
  }
  &.with-side-content {
    .sidebar-wrap {
      width: 175px;
    }
    .content-wrap {
      //      float: right;
      width: 100%;
      padding-left: 175px;
      // margin-bottom: 100px;
      .container-fluid {
        min-width: $screen-with-sidebar-tablet;
      }
    }
  }
}