//Overide
.navbar-collapse.collapse {
  display: block!important;
}

.navbar-nav>li,
.navbar-nav {
  float: left !important;
}

.navbar-nav.navbar-right:last-child {
  margin-right: -15px !important;
}

.navbar-right {
  float: right!important;
}

//navigation
.navbar.navbar-default {
  min-width: $screen-tablet;
  margin-bottom: 0;
  border: 0;
  border-radius: 0;
  border-bottom: 2px solid $border-gray;
  .nav-top {
    background-color: $header-top;
    .navbar-header {
      float: left;
      margin-right: 0;
      .navbar-brand {
        background-color: $orange;
      }
    }
    h1 {
      font-family: 'Roboto', sans-serif;
      font-weight: normal;
      font-size: 18px;
      color: $white;
      float: left;
      margin-left: 15px;
      margin-right: 15px;
    }
    ul.navbar-right {
      li {
        
        text-align: center;
        .username-log {
          padding-top: 15px;
          padding-bottom: 15px;
          display: block;
          color: $white;
          margin-right: 10px;
        }
        .thumbnail-circle {
          width: 30px;
          height: 30px;
          display: block;
          margin-top: 10px;
          margin-bottom: 10px;
          border-radius: 50%;
          background-image: url('../assets/images/sm-img-thumb.jpg');
          background-position: center;
        }
        
        &.dropdown {
          a.dropdown-toggle {
            color: $white;
            margin-left: 10px;
//            padding-left: 13px;
//            padding-right: 13px;
            padding: 15px 13px;
              &:hover {
              color: $white;
              background-color: $deepdark;
              }
            }
          
        }
        &.dropdown.open {
          
          .dropdown-toggle {
            background-color: $orange;
            color: $dark;
            
          }
          .dropdown-menu {
            background-color: $orange;
            position: absolute;
            right: 0;
            left: auto;
            width: 210px;
            padding-bottom: 30px;
            border-radius: 0;
            border: 0;
            img {
              margin-top: 20px;
              margin-bottom: 20px;
            }
            li {
              color: $dark;
              a {
                font-size: 12px;
                text-transform: uppercase;
                padding: 5px 20px;
                &:hover,
                &:focus{
                  font-weight: 700;
                  color: $white;
                  background-color: $dark;
                }
                i.fa {
                  margin-right: 5px;
                }
              }
            }
          }
        }
      }
    }
    .navbar-nav {
      margin: 0;
    }
  }
  .nav-bottom {
    background-color: $white;
    height: 60px;
    .nav {
      li {
        margin-right: 5px;
        a {
          position: relative;
          padding-top: 20px;
          padding-bottom: 20px;
          padding-right: 8px;
          padding-left: 8px;
          font-size: 12px;
          color: $dark;
          &:hover:after {
            content: '';
            position: absolute;
            top: 0px;
            left: 0;
            bottom: 5px;
            right: 0;
            border-bottom: 5px solid $border-light-gray;
          }
          i.fa {
            margin-right: 3px;
            display: none;
            @media (min-width: $screen-tablet-custom) {
              display: inline-block;
            }
          }
          @media (min-width: $screen-tablet-custom) {
            width: 100%;
            padding-right: 8px;
            padding-left: 8px;

          }
        }
        &.active {
          a {
            background-color: $white;
            &:after {
              content: '';
              position: absolute;
              top: 0px;
              left: 0;
              bottom: 5px;
              right: 0;
              border-bottom: 5px solid $orange;
            }
          }
        }
      }
    }
    .navbar-nav {
      margin: 0;
    }
  }
}

.create-quick-link {
  margin: 13px 0px;
  .dropdown-menu {
    width: 410px;
    margin-top: 0;
    border: 0;
    padding: 5px 5px;
    border-radius: 0;
    background-color: $dark;
    li {
      font-size: 13px;
      float: left;
      display: table;
      text-align: center;
      a {
        color: $white;
        width: 100px;
        height: 50px;
        white-space: normal;
        display: table-cell;
        vertical-align: middle;
        padding: 0;
        &:hover,
        &:focus{
          background-color: $orange;
          font-weight: 700;
        }
      }
    }
  }
}