aside.sidebar-wrap {
  background-color: $side-nav-bg;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  top: 185px;
  z-index: 1;
  left: 0;
  nav {
    //    margin-bottom: -9999999px;
    //    padding-bottom: 9999999px;
    //    overflow: hidden;
  }
}