.btn-oj-group {
  .btn {
    margin-left: 5px;
    margin-right: 5px;
  }
  
  &.left {
    text-align: left;
  }
  &.right {
    text-align: right;
  }
  &.center {
    text-align: center;
  }
}

.oj-button {
  color: $white;
  text-decoration: none;
  text-transform: capitalize;
  background-color: $dark;
  border:none;
  border-radius: 0;
  padding: 8px 18px;
  outline: 0;
  font-size: 12px;
  &--margin-adj {
    margin: 10px 10px;
  }
  @extend %button-effect;
  &:hover,
  &:focus,
  &:active{
    text-decoration: none;
    background-color: $orange;
    color: $white;
    outline: 0;
  }
  &[disabled] {
    &:hover {
      background-color: $dark;
    }
    
  }
}

.oj-button--margin-top-30 {
  margin-top: 30px;
}

.dark-button {
    background-color: $dark;
    color: $white;
  &:hover,
  &:focus,
  &:active{
    text-decoration: none;
    background-color: $orange!important;
    color: $white!important;
    border-color: $orange!important;
    outline: 0!important;
  }
}

.gray-button {
    background-color: $gray;
    color: $dark;
  &:hover,
  &:focus{
    background-color: $dark-gray;
    color: $white;
  }
}

.light-gray-button {
    background-color: $light-gray3;
    color: $dark;
  &:hover,
  &:focus{
    background-color: $super-gray;
    color: $dark;
  }
}

.orange-button {
    background-color: $orange;
    color: $white;
  &:hover,
  &:focus{
    background-color: $orange-dark;
    color: $white;
  }
}

.white-ghost-button {
    background-color: $white;
    color: $dark;
    border: 1px solid $dark-gray;
  &:hover,
  &:focus{
    background-color: $white;
    color: $dark;
  }
}


//Header Title Button
.oj-lg-button  {
  padding: 8px 50px;
  font-size: 20px;
}

.oj-sm-button  {
  padding: 4px 6px;
  font-size: 11px;
}

//Header Title Button
.oj-btn-back  {
  @extend .oj-button;
  margin-right: 15px;
  padding: 6px 15px;

}

//Table Header button
.box-btn {
  padding: 8px 12px;
  margin-left: 5px!important;
}


// Change status
.change-status-btn-grp {
  .white-ghost-button {
    width: 120px;
    text-align: left;
    padding: 8px 10px;
    .caret{
      float: right;
      margin-top: 8px;
        
    }
  }
  ul {
    border-radius: 0;
    border-color: $dark-gray;
    li {
      a {
        &:hover {
          background-color: $light-gray2;
        }
      }
    }
  }
}

.btn[data-clipboard-snippet] {
  @extend .oj-button;
  float: right;
}

//.action-button{
//  background-color:$btn-action-bg;
//  color:$btn-action-text;
//  &:hover{
//    background-color:$btn-action-bg-hover;
//  }
//}
//
//.btn-oj-back{
//  background-color: $btn-back-bg;
//  color:$btn-back-text;
//  &:hover{
//    background-color:$btn-back-bg-hover;
//    color:$title-bg;
//  }
//}
//
//%ojdisabled{
//  background-color: $btn-dis-bg;
//  color: $white;
//  @extend %text-reset;
//}
//
//.dark-button, .action-button, .btn-oj-back{
//  transition:all .25s;
//}
//
//
///* form buttons */
//.btn-oj-upload{
//  width:100%;
//}
//
//.btn-oj-yes{
//  @extend .dark-button;
//}
//
//.btn-oj-no{
//  @extend .btn-oj-yes;
//  @extend .btn-oj-back;
//}
//
//.btn-oj-delete, .btn-oj-edit, .btn-oj-yes, .btn-oj-no{
//  min-width:100px;
//  border:none;
//}
//
//.btn-oj-large{
//  @extend %btn-overrides;
//  font-weight:normal;
//  font-size: 18px;
//  text-transform: capitalize;
//  padding:15px;
//}
//
//.btn-add-leg{
//  padding:15px;
//}