
//note adjustment input forms

.overflow-right-50 {
  right: 0;
  left: 70%;
}
.overflow-right-60 {
  right: 0;
  left: 70%;
}
.overflow-right-70 {
  right: 0;
  left: 70%;
}
.overflow-right-80 {
  right: 0;
  left: 70%;
}
.overflow-right-90 {
  right: 0;
  left: 70%;
}
.overflow-right-100 {
  right: 0;
  left: 70%;
}

.all-uppercase {
  text-transform: uppercase;
}

.disabled-content {
  pointer-events: none;
  cursor: not-allowed;
  background-color: $disabled-color;
  input {
    cursor: not-allowed;
  }
}

.nopadding {
    padding: 0;
    margin: 0;
}

.no-padding-left {
  padding-left: 0!important;
}

.no-margin {
  margin: 0!important;
}
.no-margin-bottom {
  margin-bottom: 0!important;
}

.no-border {
  border: 0!important;
}

.margin-top-30 {
  margin-top: 30px!important;
}


.margin-top-50 {
  margin-top: 50px!important;
}

.text-right {
  text-align: right!important;
}

.margin {
  &-bottom-0 {
    margin-bottom: 0!important;
  }
  &-top-0 {
    margin-top: 0!important;
  }
  &-left-0 {
    margin-top: 0!important;
  }
  &-right-0 {
    margin-right: 0!important;
  }
}

.box {
  &--red {
    background-color: red;
  }
  &--blue {
    background-color: blue;
  }
  &--gray {
    background-color: gray;
  }
  &--green {
    background-color: green;
  }
}