.form-control {
  background-color: $white;
  @extend %oj-border-input;
  
  &[disabled],
  &[readonly] {
    border-color: #cdcdcd;
    &:focus {
      border-color: #cdcdcd;
    }
  }
}

.ojfilter-action {
  .form-group {
    .form-control {
      min-width: 150px;
    }
  }
}
.input-group {
  &.oj-input-custom {
    label {
      font-size: 12;
      font-weight: normal;
    }
  }
}


.bootstrap-select{
  display: inline;
  width: 100%;
  &.open {
    .btn-default.dropdown-toggle {
      background-color: $white;
    }
  }
//  &.disabled {
//    border-color: $dark;
//    background-color: #ccc;
//    opacity: 1;
//    
//  }
  .btn.btn-default {
    @extend %oj-border-input;
    box-shadow: none;
    &:hover,
    &:focus {
      background-color: $white;
      box-shadow: none;
    }
    &.disabled {
      @extend %oj-border-input-disabled;
    }
  }
  .dropdown-menu {
    @extend %oj-border-input;
    padding: 0;
    margin-top: 0;
    margin-top: -1px;
    li {
      a {
        outline: 0;
        padding-top: 5px;
        padding-bottom: 5px;
        &:focus {
          background-color: $semi-white;
        }
        &:hover{
          background-color: $dark;
          color: $white;
        }

      }
    }
  }
}


.input-group-btn {
  >.btn {
    border-radius: 0;
    border-color: $dark-gray;
    &:focus {
      border-color: $dark;
    }
  }
  
  
}
