input {
  &[type="checkbox"] {
    vertical-align: top;
  }
}

pre.snippet {
    max-height: 500px;
    overflow: auto;
}

label.autofill {
  width: 100%;
  position: relative;
  &:after {
    content: "*Autofill";
    font-size: 10px;
    color: $gray;
    position: absolute;
    bottom: 1px;
    right: 0;
  }
}


.checkbox-inline  {
  input[type="checkbox"] {
//    margin-top: 0;
  }
}



.has-feedback label ~ .form-control-feedback {
  top:inherit;
  bottom: 0;
  &.adj-right {
    right: 0;
  }
}



///* Overide properties for textboxes */
//
//%input-overrides {
//  height: 34px;
//  border-radius: 0;
//  border: 1px solid $footer-border-bg;
//  background-color: $white;
//  color: $footer-page-link-active;
//  font-size: 12px;
//  color: $dark;
//  display: block;
//  &[disabled],
//  &.disabled {
//    background-color: $breadcrumbs-bg !important;
//  }
//}

/* Overide properties for buttons */
//
//%btn-overrides {
//  //	width:100%;
//  padding: 8px 12px;
//  font-size: 12px;
//  @extend .dark-button;
//  &.disabled,
//  &[disabled] {
//    @extend %ojdisabled;
//  }
//}

/* Affects bootstrap button and input styles */

.input-group,
.btn-group {
  width: 100%;
}

/* change appearance of default bootstrap button */
//
//.btn {
//  border-radius: 0;
//  padding: 8px 12px;
//}
//.btn-default {
//  @extend %btn-overrides;
//  &.disabled {
//    &,
//    &:hover,
//    &:active,
//    &:focus {
//      @extend %ojdisabled;
//    }
//  }
//}
//.btn-oj-clear {
//  @extend %btn-overrides;
//  @extend .btn-oj-back;
//}
//
///* change appearance of input textboxes */
//
//.form-control {
//  @extend %input-overrides;
//}

/* change appearance of bootstrap dropdown */

//.oj-dropdown {
//  @extend %input-overrides;
//  position: relative;
//  text-align: left;
//  width: 100%;
//  .caret {
//    position: absolute;
//    right: 10px;
//    top: 14px;
//  }
//}
//.dropdown-menu {
//  //	border-radius:0;
//  //	width:100%;
//  //	min-width:10px;
//  li a {
//    font-size: 12px;
//    padding: 8px 12px;
//  }
//}
// btn disable function
//.btn.disabled {
//  opacity: 1;
//}